default_gray = #282828
default_blue = #30a3d2
default_blue_chiaro = #ADDBF8
default_blue_lite = #78A8C3
default_wite = #f0f0f0
default_viola = #3F4A64
default_azzurro = #C5D1EE 
default_azzurro_chiaro = #D6E3EB


mybox-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments


.template-black
	color default_gray 

	nav
		background default_gray
		border-right 1px solid default_wite

		ul
			li
				color default_gray 
				background default_blue_lite

				&:hover
					background default_viola !important
					opacity 1 !important
			
					color default_wite		

			#nav-home
				opacity 0.7
		
			#nav-work
				opacity 0.8
		
			#nav-portfolio
				opacity 0.9
		
			#nav-contact
				opacity 1

			.active
				background default_viola !important
				opacity 1 !important
		
				color default_wite

		#nav-info
			color default_wite

			#git
				background-image url('../img/git.png')

				&:hover
					background-image url('../img/git_over.png')	

			#linkedin
				background-image url('../img/linkedin.png')

				&:hover
					background-image url('../img/linkedin_over.png')
		
			.shape 
				background-color rgb(120, 168, 195)
			
			.logo
		
				color default_wite

	#header
		color default_wite
		background default_gray
		border-bottom 1px solid default_wite
		text-shadow 1px 1px 2px rgba(255, 255, 255, 0.5)
		mybox-shadow(1px 0px 2px 0px rgba(3, 3, 3, 0.75))

	#content-section

		#content
			background default_blue_lite

			#home, #work, #portfolio, #contact
				background default_wite
				mybox-shadow(1px 0px 3px 0px rgba(3, 3, 3, 0.75))

				h2
					color default_wite

				header
					background default_viola

				.job-experience
					.job-company
						background default_blue
						color default_wite

						a, h3, .date
							color default_wite

					.job
						color default_blue
						background #fff
				
				#portfolio-wrapper

					.portfolio-element
							
						.portfolio-title
							background default_blue
							color default_wite
							
						.portfolio-end
							background default_blue_chiaro
							color default_gray

			#contact
				a
					color default_gray
					
	#footer
		color default_wite
		border-top 1px solid default_wite
		background default_gray

		#color-select
			border 1px solid default_gray
			background default_wite

			&:hover
				box-shadow  1px 1px 2px rgba(255, 255, 255, 0.7)

			
			#black:hover, #white:hover
				box-shadow  0px 0px 3px 2px rgba(255, 0, 0, 0.5)
			
			h6
				color default_gray

		#template-select
			border 1px solid default_gray
			background default_wite

			&:hover
				box-shadow  1px 1px 2px rgba(255, 255, 255, 0.7)

			h6
				color default_gray

			.templates

				&:hover
					box-shadow  0px 0px 3px 2px rgba(255, 0, 0, 0.5)

.template-white
	color default_wite 

	nav
		background default_wite
		border-right 1px solid default_gray

		ul
			li
				color default_wite 
				background default_blue_lite

				&:hover
					background default_azzurro !important
					opacity 1 !important
					color default_gray		

			#nav-home
				opacity 0.7
		
			#nav-work
				opacity 0.8
		
			#nav-portfolio
				opacity 0.9
		
			#nav-contact
				opacity 1

			.active
				background default_azzurro !important
				opacity 1 !important
				color default_gray	

		#nav-info
			color default_gray

			#git
				background-image url('../img/git_over.png')	

				&:hover
					background-image url('../img/git.png')

			#linkedin
				background-image url('../img/linkedin_over.png')

				&:hover
					background-image url('../img/linkedin.png')
			
			.shape 
				background-color rgb(120, 168, 195)
			
			.logo
				color #f0f0f0

	#header
		color default_gray
		background default_wite
		border-bottom 1px solid default_gray
		text-shadow 1px 1px 2px rgba(3, 3, 3, 0.5)
		mybox-shadow(1px 0px 2px 0px rgba(3, 3, 3, 0.75))

	#content-section

		#content
			background default_azzurro_chiaro

			#home, #work, #portfolio, #contact
				background default_wite
				color default_gray
				mybox-shadow(1px 0px 3px 0px rgba(3, 3, 3, 0.5))

				h2
					color default_gray

				header
					background default_azzurro

				.job-experience
					.job-company
						background default_blue_chiaro
						color default_gray

						a, h3, .date
					
							color default_gray

					.job
						color default_blue
						background #fff
				
				#portfolio-wrapper

					.portfolio-element
							
						.portfolio-title
							background default_blue_chiaro
							color default_gray
							
						.portfolio-end
							background default_blue_lite
							color default_wite

			#contact
				a
					color default_gray

	#footer
		color default_gray
		border-top 1px solid default_gray
		background default_wite

		#color-select
			border 1px solid default_wite
			background default_gray
			
			&:hover
				box-shadow  1px 1px 2px rgba(0, 0, 0, 0.7)

			#black:hover, #white:hover
				box-shadow  0px 0px 3px 2px rgba(255, 0, 0, 0.5)
			
			h6
				color default_wite !important


		#template-select
			border 1px solid default_wite
			background default_gray
			
			&:hover
				box-shadow  1px 1px 2px rgba(0, 0, 0, 0.7)

			h6
				color default_wite !important

			.templates

				&:hover
					box-shadow  0px 0px 3px 2px rgba(255, 0, 0, 0.5)
