.template-black{color:#282828;}
.template-black nav{background:#282828;border-right:1px solid #f0f0f0;}
.template-black nav ul li{color:#282828;background:#78a8c3;}
.template-black nav ul li:hover{background:#3f4a64 !important;opacity:1 !important;color:#f0f0f0}
.template-black nav ul #nav-home{opacity:.7}
.template-black nav ul #nav-work{opacity:.8}
.template-black nav ul #nav-portfolio{opacity:.9}
.template-black nav ul #nav-contact{opacity:1}
.template-black nav ul .active{background:#3f4a64 !important;opacity:1 !important;color:#f0f0f0}
.template-black nav #nav-info{color:#f0f0f0;}
.template-black nav #nav-info #git{background-image:url("../img/git.png");}
.template-black nav #nav-info #git:hover{background-image:url("../img/git_over.png")}
.template-black nav #nav-info #linkedin{background-image:url("../img/linkedin.png");}
.template-black nav #nav-info #linkedin:hover{background-image:url("../img/linkedin_over.png")}
.template-black nav #nav-info .shape{background-color:#78a8c3}
.template-black nav #nav-info .logo{color:#f0f0f0}
.template-black #header{color:#f0f0f0;background:#282828;border-bottom:1px solid #f0f0f0;text-shadow:1px 1px 2px rgba(255,255,255,0.5);-webkit-box-shadow:1px 0 2px 0 rgba(3,3,3,0.75);-moz-box-shadow:1px 0 2px 0 rgba(3,3,3,0.75);box-shadow:1px 0 2px 0 rgba(3,3,3,0.75)}
.template-black #content-section #content{background:#78a8c3;}
.template-black #content-section #content #home,.template-black #content-section #content #work,.template-black #content-section #content #portfolio,.template-black #content-section #content #contact{background:#f0f0f0;-webkit-box-shadow:1px 0 3px 0 rgba(3,3,3,0.75);-moz-box-shadow:1px 0 3px 0 rgba(3,3,3,0.75);box-shadow:1px 0 3px 0 rgba(3,3,3,0.75);}
.template-black #content-section #content #home h2,.template-black #content-section #content #work h2,.template-black #content-section #content #portfolio h2,.template-black #content-section #content #contact h2{color:#f0f0f0}
.template-black #content-section #content #home header,.template-black #content-section #content #work header,.template-black #content-section #content #portfolio header,.template-black #content-section #content #contact header{background:#3f4a64}
.template-black #content-section #content #home .job-experience .job-company,.template-black #content-section #content #work .job-experience .job-company,.template-black #content-section #content #portfolio .job-experience .job-company,.template-black #content-section #content #contact .job-experience .job-company{background:#30a3d2;color:#f0f0f0;}
.template-black #content-section #content #home .job-experience .job-company a,.template-black #content-section #content #work .job-experience .job-company a,.template-black #content-section #content #portfolio .job-experience .job-company a,.template-black #content-section #content #contact .job-experience .job-company a,.template-black #content-section #content #home .job-experience .job-company h3,.template-black #content-section #content #work .job-experience .job-company h3,.template-black #content-section #content #portfolio .job-experience .job-company h3,.template-black #content-section #content #contact .job-experience .job-company h3,.template-black #content-section #content #home .job-experience .job-company .date,.template-black #content-section #content #work .job-experience .job-company .date,.template-black #content-section #content #portfolio .job-experience .job-company .date,.template-black #content-section #content #contact .job-experience .job-company .date{color:#f0f0f0}
.template-black #content-section #content #home .job-experience .job,.template-black #content-section #content #work .job-experience .job,.template-black #content-section #content #portfolio .job-experience .job,.template-black #content-section #content #contact .job-experience .job{color:#30a3d2;background:#fff}
.template-black #content-section #content #home #portfolio-wrapper .portfolio-element .portfolio-title,.template-black #content-section #content #work #portfolio-wrapper .portfolio-element .portfolio-title,.template-black #content-section #content #portfolio #portfolio-wrapper .portfolio-element .portfolio-title,.template-black #content-section #content #contact #portfolio-wrapper .portfolio-element .portfolio-title{background:#30a3d2;color:#f0f0f0}
.template-black #content-section #content #home #portfolio-wrapper .portfolio-element .portfolio-end,.template-black #content-section #content #work #portfolio-wrapper .portfolio-element .portfolio-end,.template-black #content-section #content #portfolio #portfolio-wrapper .portfolio-element .portfolio-end,.template-black #content-section #content #contact #portfolio-wrapper .portfolio-element .portfolio-end{background:#addbf8;color:#282828}
.template-black #content-section #content #contact a{color:#282828}
.template-black #footer{color:#f0f0f0;border-top:1px solid #f0f0f0;background:#282828;}
.template-black #footer #color-select{border:1px solid #282828;background:#f0f0f0;}
.template-black #footer #color-select:hover{box-shadow:1px 1px 2px rgba(255,255,255,0.7)}
.template-black #footer #color-select #black:hover,.template-black #footer #color-select #white:hover{box-shadow:0 0 3px 2px rgba(255,0,0,0.5)}
.template-black #footer #color-select h6{color:#282828}
.template-black #footer #template-select{border:1px solid #282828;background:#f0f0f0;}
.template-black #footer #template-select:hover{box-shadow:1px 1px 2px rgba(255,255,255,0.7)}
.template-black #footer #template-select h6{color:#282828}
.template-black #footer #template-select .templates:hover{box-shadow:0 0 3px 2px rgba(255,0,0,0.5)}
.template-white{color:#f0f0f0;}
.template-white nav{background:#f0f0f0;border-right:1px solid #282828;}
.template-white nav ul li{color:#f0f0f0;background:#78a8c3;}
.template-white nav ul li:hover{background:#c5d1ee !important;opacity:1 !important;color:#282828}
.template-white nav ul #nav-home{opacity:.7}
.template-white nav ul #nav-work{opacity:.8}
.template-white nav ul #nav-portfolio{opacity:.9}
.template-white nav ul #nav-contact{opacity:1}
.template-white nav ul .active{background:#c5d1ee !important;opacity:1 !important;color:#282828}
.template-white nav #nav-info{color:#282828;}
.template-white nav #nav-info #git{background-image:url("../img/git_over.png");}
.template-white nav #nav-info #git:hover{background-image:url("../img/git.png")}
.template-white nav #nav-info #linkedin{background-image:url("../img/linkedin_over.png");}
.template-white nav #nav-info #linkedin:hover{background-image:url("../img/linkedin.png")}
.template-white nav #nav-info .shape{background-color:#78a8c3}
.template-white nav #nav-info .logo{color:#f0f0f0}
.template-white #header{color:#282828;background:#f0f0f0;border-bottom:1px solid #282828;text-shadow:1px 1px 2px rgba(3,3,3,0.5);-webkit-box-shadow:1px 0 2px 0 rgba(3,3,3,0.75);-moz-box-shadow:1px 0 2px 0 rgba(3,3,3,0.75);box-shadow:1px 0 2px 0 rgba(3,3,3,0.75)}
.template-white #content-section #content{background:#d6e3eb;}
.template-white #content-section #content #home,.template-white #content-section #content #work,.template-white #content-section #content #portfolio,.template-white #content-section #content #contact{background:#f0f0f0;color:#282828;-webkit-box-shadow:1px 0 3px 0 rgba(3,3,3,0.5);-moz-box-shadow:1px 0 3px 0 rgba(3,3,3,0.5);box-shadow:1px 0 3px 0 rgba(3,3,3,0.5);}
.template-white #content-section #content #home h2,.template-white #content-section #content #work h2,.template-white #content-section #content #portfolio h2,.template-white #content-section #content #contact h2{color:#282828}
.template-white #content-section #content #home header,.template-white #content-section #content #work header,.template-white #content-section #content #portfolio header,.template-white #content-section #content #contact header{background:#c5d1ee}
.template-white #content-section #content #home .job-experience .job-company,.template-white #content-section #content #work .job-experience .job-company,.template-white #content-section #content #portfolio .job-experience .job-company,.template-white #content-section #content #contact .job-experience .job-company{background:#addbf8;color:#282828;}
.template-white #content-section #content #home .job-experience .job-company a,.template-white #content-section #content #work .job-experience .job-company a,.template-white #content-section #content #portfolio .job-experience .job-company a,.template-white #content-section #content #contact .job-experience .job-company a,.template-white #content-section #content #home .job-experience .job-company h3,.template-white #content-section #content #work .job-experience .job-company h3,.template-white #content-section #content #portfolio .job-experience .job-company h3,.template-white #content-section #content #contact .job-experience .job-company h3,.template-white #content-section #content #home .job-experience .job-company .date,.template-white #content-section #content #work .job-experience .job-company .date,.template-white #content-section #content #portfolio .job-experience .job-company .date,.template-white #content-section #content #contact .job-experience .job-company .date{color:#282828}
.template-white #content-section #content #home .job-experience .job,.template-white #content-section #content #work .job-experience .job,.template-white #content-section #content #portfolio .job-experience .job,.template-white #content-section #content #contact .job-experience .job{color:#30a3d2;background:#fff}
.template-white #content-section #content #home #portfolio-wrapper .portfolio-element .portfolio-title,.template-white #content-section #content #work #portfolio-wrapper .portfolio-element .portfolio-title,.template-white #content-section #content #portfolio #portfolio-wrapper .portfolio-element .portfolio-title,.template-white #content-section #content #contact #portfolio-wrapper .portfolio-element .portfolio-title{background:#addbf8;color:#282828}
.template-white #content-section #content #home #portfolio-wrapper .portfolio-element .portfolio-end,.template-white #content-section #content #work #portfolio-wrapper .portfolio-element .portfolio-end,.template-white #content-section #content #portfolio #portfolio-wrapper .portfolio-element .portfolio-end,.template-white #content-section #content #contact #portfolio-wrapper .portfolio-element .portfolio-end{background:#78a8c3;color:#f0f0f0}
.template-white #content-section #content #contact a{color:#282828}
.template-white #footer{color:#282828;border-top:1px solid #282828;background:#f0f0f0;}
.template-white #footer #color-select{border:1px solid #f0f0f0;background:#282828;}
.template-white #footer #color-select:hover{box-shadow:1px 1px 2px rgba(0,0,0,0.7)}
.template-white #footer #color-select #black:hover,.template-white #footer #color-select #white:hover{box-shadow:0 0 3px 2px rgba(255,0,0,0.5)}
.template-white #footer #color-select h6{color:#f0f0f0 !important}
.template-white #footer #template-select{border:1px solid #f0f0f0;background:#282828;}
.template-white #footer #template-select:hover{box-shadow:1px 1px 2px rgba(0,0,0,0.7)}
.template-white #footer #template-select h6{color:#f0f0f0 !important}
.template-white #footer #template-select .templates:hover{box-shadow:0 0 3px 2px rgba(255,0,0,0.5)}
