#content-wrapper{font-family:'Helvetica';}
#content-wrapper #template-three{height:100%;background:transparent;background-image:url("../img/noise-bg2b.png");}
#content-wrapper #template-three header,#content-wrapper #template-three section,#content-wrapper #template-three footer{position:relative}
#content-wrapper #template-three nav{margin-top:10px;position:fixed;left:0;border:0;width:150px;z-index:999;-webkit-box-shadow:2px 2px 10px rgba(0,0,0,0.5);-moz-box-shadow:2px 2px 10px rgba(0,0,0,0.5);box-shadow:2px 2px 10px rgba(0,0,0,0.5);background:#f0f0f0;-webkit-border-radius:0 10px 10px 0;-moz-border-radius:0 10px 10px 0;border-radius:0 10px 10px 0;}
#content-wrapper #template-three nav h3,#content-wrapper #template-three nav p{-webkit-text-fill-color:initial}
#content-wrapper #template-three nav ul{margin:10px;}
#content-wrapper #template-three nav ul li{color:#282828;display:block;background:transparent;cursor:pointer;border:0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
#content-wrapper #template-three nav ul li:hover{color:#f0f0f0}
#content-wrapper #template-three nav ul li p{font-size:16px;margin:2px}
#content-wrapper #template-three nav ul .active{color:#f0f0f0}
#content-wrapper #template-three nav #name{text-align:center;margin:10px;}
#content-wrapper #template-three nav #name h3{font-size:18px}
#content-wrapper #template-three nav #nav-home,#content-wrapper #template-three nav #nav-work,#content-wrapper #template-three nav #nav-portfolio,#content-wrapper #template-three nav #nav-contact{opacity:1}
#content-wrapper #template-three #content-section{width:100%;margin:0 auto;position:relative;height:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:10px 0 30px 170px;overflow:hidden;overflow-y:scroll;}
#content-wrapper #template-three #content-section #header{border:0;background:transparent;text-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;color:#282828;text-align:center;margin-bottom:50px;}
#content-wrapper #template-three #content-section #header img{width:200px;height:200px;-webkit-border-radius:100px;-moz-border-radius:100px;border-radius:100px}
#content-wrapper #template-three #content-section #header #title{margin:0 auto;}
#content-wrapper #template-three #content-section #header #title h2,#content-wrapper #template-three #content-section #header #title p{font-weight:lighter}
#content-wrapper #template-three #content-section #header #title p{font-size:12px}
#content-wrapper #template-three #content-section #content{background:transparent;width:100%;}
#content-wrapper #template-three #content-section #content .pag1,#content-wrapper #template-three #content-section #content .pag2,#content-wrapper #template-three #content-section #content .pag3{max-width:900px;-webkit-box-shadow:2px 2px 10px rgba(0,0,0,0.5);-moz-box-shadow:2px 2px 10px rgba(0,0,0,0.5);box-shadow:2px 2px 10px rgba(0,0,0,0.5);background:#f0f0f0}
#content-wrapper #template-three #content-section #content .pag1{-webkit-transform:rotate(1deg);-moz-transform:rotate(1deg);-o-transform:rotate(1deg);-ms-transform:rotate(1deg);transform:rotate(1deg);margin:0 auto;margin-bottom:50px}
#content-wrapper #template-three #content-section #content .pag2{-webkit-transform:rotate(1deg);-moz-transform:rotate(1deg);-o-transform:rotate(1deg);-ms-transform:rotate(1deg);transform:rotate(1deg)}
#content-wrapper #template-three #content-section #content .pag3{-webkit-transform:rotate(-2deg);-moz-transform:rotate(-2deg);-o-transform:rotate(-2deg);-ms-transform:rotate(-2deg);transform:rotate(-2deg);}
#content-wrapper #template-three #content-section #content .pag3 #home,#content-wrapper #template-three #content-section #content .pag3 #work,#content-wrapper #template-three #content-section #content .pag3 #portfolio,#content-wrapper #template-three #content-section #content .pag3 #contact{margin:0 auto;max-width:100%;background:transparent;padding:10px;position:relative;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
#content-wrapper #template-three #content-section #content .pag3 #home header,#content-wrapper #template-three #content-section #content .pag3 #work header,#content-wrapper #template-three #content-section #content .pag3 #portfolio header,#content-wrapper #template-three #content-section #content .pag3 #contact header{font-weight:bold;background:transparent;margin-bottom:10px;position:relative}
#content-wrapper #template-three #content-section #content .pag3 #home h1,#content-wrapper #template-three #content-section #content .pag3 #work h1,#content-wrapper #template-three #content-section #content .pag3 #portfolio h1,#content-wrapper #template-three #content-section #content .pag3 #contact h1,#content-wrapper #template-three #content-section #content .pag3 #home h2,#content-wrapper #template-three #content-section #content .pag3 #work h2,#content-wrapper #template-three #content-section #content .pag3 #portfolio h2,#content-wrapper #template-three #content-section #content .pag3 #contact h2,#content-wrapper #template-three #content-section #content .pag3 #home h3,#content-wrapper #template-three #content-section #content .pag3 #work h3,#content-wrapper #template-three #content-section #content .pag3 #portfolio h3,#content-wrapper #template-three #content-section #content .pag3 #contact h3,#content-wrapper #template-three #content-section #content .pag3 #home p,#content-wrapper #template-three #content-section #content .pag3 #work p,#content-wrapper #template-three #content-section #content .pag3 #portfolio p,#content-wrapper #template-three #content-section #content .pag3 #contact p,#content-wrapper #template-three #content-section #content .pag3 #home li,#content-wrapper #template-three #content-section #content .pag3 #work li,#content-wrapper #template-three #content-section #content .pag3 #portfolio li,#content-wrapper #template-three #content-section #content .pag3 #contact li{font-weight:lighter;-webkit-text-fill-color:initial;color:#282828}
#content-wrapper #template-three #content-section #content .pag3 #home section{margin:0 20px 0 10px}
#content-wrapper #template-three #content-section #content .pag3 #home section,#content-wrapper #template-three #content-section #content .pag3 #home img{display:inline-block}
#content-wrapper #template-three #content-section #content .pag3 #home #skills{margin:auto;max-width:650px;border-spacing:0;}
#content-wrapper #template-three #content-section #content .pag3 #home #skills td{border:1px solid #282828;padding:5px}
#content-wrapper #template-three #content-section #content .pag3 #home #skills .head-1,#content-wrapper #template-three #content-section #content .pag3 #home #skills .head-2,#content-wrapper #template-three #content-section #content .pag3 #home #skills .number{text-align:center}
#content-wrapper #template-three #content-section #content .pag3 #home #skills .head-1{font-size:22px;font-weight:bold}
#content-wrapper #template-three #content-section #content .pag3 #home #skills .head-2{font-size:16px;background:#ccc}
#content-wrapper #template-three #content-section #content .pag3 #work header,#content-wrapper #template-three #content-section #content .pag3 #portfolio header,#content-wrapper #template-three #content-section #content .pag3 #contact header{margin:15px 0;padding:0 10px}
#content-wrapper #template-three #content-section #content .pag3 #work section{margin:0 20px 0 0;}
#content-wrapper #template-three #content-section #content .pag3 #work section .job-company{background:#78a8c3;position:relative;border-radius:10px;margin-top:10px;padding:10px;border:1px solid #f0f0f0;}
#content-wrapper #template-three #content-section #content .pag3 #work section .job-company a,#content-wrapper #template-three #content-section #content .pag3 #work section .job-company h3,#content-wrapper #template-three #content-section #content .pag3 #work section .job-company .date{display:inline-block;color:#f0f0f0}
#content-wrapper #template-three #content-section #content .pag3 #work section .job-company h3{font-weight:bold}
#content-wrapper #template-three #content-section #content .pag3 #work section .job-company a,#content-wrapper #template-three #content-section #content .pag3 #work section .job-company .date{font-weight:lighter}
#content-wrapper #template-three #content-section #content .pag3 #work section .job-spec{margin:0 -10px 0 10px;padding:0}
#content-wrapper #template-three #content-section #content .pag3 #work section footer{position:relative;margin:0 -10px 0 10px}
#content-wrapper #template-three #content-section #content .pag3 #work section ul{padding:0 15px 15px 15px;}
#content-wrapper #template-three #content-section #content .pag3 #work section ul .role{list-style-type:circle}
#content-wrapper #template-three #content-section #content .pag3 #work section ul .achievements{list-style-type:square}
#content-wrapper #template-three #content-section #content .pag3 #work section .job{display:block;padding:5px;margin-top:-10px;border-radius:5px;background:none;color:#78a8c3;font-weight:bold}
#content-wrapper #template-three #content-section #content .pag3 #portfolio section #portfolio-wrapper{margin:0 auto;width:822px;}
#content-wrapper #template-three #content-section #content .pag3 #portfolio section #portfolio-wrapper .portfolio-element{display:inline-block;width:250px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition:opacity .3s;-moz-transition:opacity .3s;-o-transition:opacity .3s;-ms-transition:opacity .3s;transition:opacity .3s;opacity:.6;cursor:pointer;margin:10px;border:1px solid #282828;}
#content-wrapper #template-three #content-section #content .pag3 #portfolio section #portfolio-wrapper .portfolio-element .portfolio-title{-webkit-border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;border-radius:10px 10px 0 0;padding:10px;margin:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#content-wrapper #template-three #content-section #content .pag3 #portfolio section #portfolio-wrapper .portfolio-element .portfolio-body{width:230px;height:230px;margin:8px;border:1px solid rgba(0,0,0,0.3);-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}
#content-wrapper #template-three #content-section #content .pag3 #portfolio section #portfolio-wrapper .portfolio-element .portfolio-end{background-image:url("../img/bg.png");position:relative;font-size:12px;margin:10px 0 0 0;padding:10px;border-radius:0 0 10px 10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-top:1px solid #f0f0f0;background:none}
#content-wrapper #template-three #content-section #content .pag3 #portfolio section #portfolio-wrapper .portfolio-element:hover{opacity:1}
#content-wrapper #template-three #content-section #content .pag3 #contact a{color:#282828}
#content-wrapper #template-three #content-section #content .hidden{display:none}
#content-wrapper #template-three #footer{position:fixed;bottom:0;height:30px;width:100%;text-align:center;line-height:30px;background:#f0f0f0;border-top:1px solid #282828;z-index:3;}
#content-wrapper #template-three #footer h6{color:#282828;font-weight:lighter}
#content-wrapper #template-three #footer #interface{position:absolute;right:5px;bottom:0;}
#content-wrapper #template-three #footer #interface #template-select{-webkit-transition:max-height .3s;-moz-transition:max-height .3s;-o-transition:max-height .3s;-ms-transition:max-height .3s;transition:max-height .3s;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;position:fixed;display:inline-block;padding:5px;bottom:-5px;right:10px;cursor:pointer;line-height:30px;max-height:30px;text-shadow:0 0 0;opacity:.6;z-index:99;border:1px solid #f0f0f0;background:#282828;}
#content-wrapper #template-three #footer #interface #template-select:hover{opacity:1;max-height:300px;}
#content-wrapper #template-three #footer #interface #template-select:hover .templates{height:50px;padding:5px;opacity:1}
#content-wrapper #template-three #footer #interface #template-select .templates{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;-ms-transition:opacity .6s;transition:opacity .6s;width:100%;opacity:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#content-wrapper #template-three #footer #interface #template-select h6{color:#f0f0f0;bottom:0}
@media (max-width: 1024px){#content-wrapper #template-three #content-section #header{min-width:750px !important}
#content-wrapper #template-three #content-section #content .pag1,#content-wrapper #template-three #content-section #content .pag2,#content-wrapper #template-three #content-section #content .pag3{max-width:750px}
#content-wrapper #template-three #content-section #content .pag3 #portfolio #portfolio-wrapper{width:546px !important}
}@media (max-width: 768px){#content-wrapper #template-three #content-section #header{min-width:500px !important}
#content-wrapper #template-three #content-section #content .pag1,#content-wrapper #template-three #content-section #content .pag2,#content-wrapper #template-three #content-section #content .pag3{max-width:500px}
#content-wrapper #template-three #content-section #content .pag3 #portfolio #portfolio-wrapper{width:273px !important}
#content-wrapper #template-three #footer{min-width:100% !important}
}