#content-wrapper{font-family:'Helvetica'}
#content-wrapper #template-two{height:100%;background:#282828;background-image:url("../img/noise-bg2b.png")}
#content-wrapper #template-two #header,#content-wrapper #template-two #content-section{max-width:1000px;margin:0 auto;position:relative}
#content-wrapper #template-two #header{background:#282828;text-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;height:50px}
#content-wrapper #template-two #header #name,#content-wrapper #template-two #header #title,#content-wrapper #template-two #header nav{display:inline-block}
#content-wrapper #template-two #header #name h1,#content-wrapper #template-two #header #title h1,#content-wrapper #template-two #header #name h2,#content-wrapper #template-two #header #title h2,#content-wrapper #template-two #header #name p,#content-wrapper #template-two #header #title p{font-weight:lighter}
#content-wrapper #template-two #header #name p,#content-wrapper #template-two #header #title p{font-size:12px}
#content-wrapper #template-two #header #name{margin:0 10px;line-height:50px}
#content-wrapper #template-two #header nav{float:right;margin:13px;border:0}
#content-wrapper #template-two #header nav ul li{color:#f0f0f0;display:inline-block;background:transparent;cursor:pointer;border:0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
#content-wrapper #template-two #header nav ul li p{font-size:12px;margin:2px}
#content-wrapper #template-two #header #nav-home,#content-wrapper #template-two #header #nav-work,#content-wrapper #template-two #header #nav-portfolio,#content-wrapper #template-two #header #nav-contact{opacity:1}
#content-wrapper #template-two #content-section{height:100%;background:rgba(28,28,28,0.7);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:20px 20px 100px 20px;overflow:auto}
#content-wrapper #template-two #content-section #content{-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;background:#282828;width:100%}
#content-wrapper #template-two #content-section #content #home,#content-wrapper #template-two #content-section #content #work,#content-wrapper #template-two #content-section #content #portfolio,#content-wrapper #template-two #content-section #content #contact{padding:10px;position:relative;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;background:transparent}
#content-wrapper #template-two #content-section #content #home header,#content-wrapper #template-two #content-section #content #work header,#content-wrapper #template-two #content-section #content #portfolio header,#content-wrapper #template-two #content-section #content #contact header{background:transparent;margin-bottom:10px;position:relative}
#content-wrapper #template-two #content-section #content #home h1,#content-wrapper #template-two #content-section #content #work h1,#content-wrapper #template-two #content-section #content #portfolio h1,#content-wrapper #template-two #content-section #content #contact h1,#content-wrapper #template-two #content-section #content #home h2,#content-wrapper #template-two #content-section #content #work h2,#content-wrapper #template-two #content-section #content #portfolio h2,#content-wrapper #template-two #content-section #content #contact h2,#content-wrapper #template-two #content-section #content #home h3,#content-wrapper #template-two #content-section #content #work h3,#content-wrapper #template-two #content-section #content #portfolio h3,#content-wrapper #template-two #content-section #content #contact h3,#content-wrapper #template-two #content-section #content #home p,#content-wrapper #template-two #content-section #content #work p,#content-wrapper #template-two #content-section #content #portfolio p,#content-wrapper #template-two #content-section #content #contact p,#content-wrapper #template-two #content-section #content #home li,#content-wrapper #template-two #content-section #content #work li,#content-wrapper #template-two #content-section #content #portfolio li,#content-wrapper #template-two #content-section #content #contact li{font-weight:lighter;-webkit-text-fill-color:initial;background:none;color:#f0f0f0}
#content-wrapper #template-two #content-section #content #home img{-webkit-border-radius:120px;-moz-border-radius:120px;border-radius:120px;vertical-align:top;margin:0 10px 0 15px}
#content-wrapper #template-two #content-section #content #home section{margin:0 20px 0 10px;width:600px}
#content-wrapper #template-two #content-section #content #home section,#content-wrapper #template-two #content-section #content #home img{display:inline-block}
#content-wrapper #template-two #content-section #content #home #skills{margin:auto;max-width:650px;border-spacing:0;background:#f0f0f0}
#content-wrapper #template-two #content-section #content #home #skills td{border:1px solid #282828;padding:5px}
#content-wrapper #template-two #content-section #content #home #skills .head-1,#content-wrapper #template-two #content-section #content #home #skills .head-2,#content-wrapper #template-two #content-section #content #home #skills .number{text-align:center}
#content-wrapper #template-two #content-section #content #home #skills .head-1 h2{color:#282828}
#content-wrapper #template-two #content-section #content #home #skills .head-2{font-size:16px;background:#ccc}
#content-wrapper #template-two #content-section #content #work header,#content-wrapper #template-two #content-section #content #portfolio header,#content-wrapper #template-two #content-section #content #contact header{margin:15px 0;padding:0 10px}
#content-wrapper #template-two #content-section #content #work section{margin:0 20px 0 0}
#content-wrapper #template-two #content-section #content #work section .job-company{position:relative;border-radius:10px;margin-top:10px;padding:10px;border:1px solid #f0f0f0}
#content-wrapper #template-two #content-section #content #work section .job-company a,#content-wrapper #template-two #content-section #content #work section .job-company h3,#content-wrapper #template-two #content-section #content #work section .job-company .date{display:inline-block}
#content-wrapper #template-two #content-section #content #work section .job-company h3{font-weight:bold}
#content-wrapper #template-two #content-section #content #work section .job-company a,#content-wrapper #template-two #content-section #content #work section .job-company .date{font-weight:lighter}
#content-wrapper #template-two #content-section #content #work section .job-spec{margin:0 -10px 0 10px;padding:0}
#content-wrapper #template-two #content-section #content #work section footer{position:relative;margin:0 -10px 0 10px}
#content-wrapper #template-two #content-section #content #work section ul{padding:0 15px 15px 15px}
#content-wrapper #template-two #content-section #content #work section ul .role{list-style-type:circle}
#content-wrapper #template-two #content-section #content #work section ul .achievements{list-style-type:square}
#content-wrapper #template-two #content-section #content #work section .job{display:block;padding:5px;margin-top:0;border-radius:5px;background:none;color:#f0f0f0;font-weight:bold}
#content-wrapper #template-two #content-section #content #portfolio section #portfolio-wrapper{margin:0 auto;width:822px}
#content-wrapper #template-two #content-section #content #portfolio section #portfolio-wrapper .portfolio-element{display:inline-block;width:250px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition:opacity .3s;-moz-transition:opacity .3s;-o-transition:opacity .3s;-ms-transition:opacity .3s;transition:opacity .3s;opacity:.6;cursor:pointer;margin:10px;border:1px solid #f0f0f0}
#content-wrapper #template-two #content-section #content #portfolio section #portfolio-wrapper .portfolio-element .portfolio-title{-webkit-border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;border-radius:10px 10px 0 0;padding:10px;margin:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#content-wrapper #template-two #content-section #content #portfolio section #portfolio-wrapper .portfolio-element .portfolio-body{width:230px;height:230px;margin:8px;border:1px solid rgba(0,0,0,0.3);-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}
#content-wrapper #template-two #content-section #content #portfolio section #portfolio-wrapper .portfolio-element .portfolio-end{background-image:url("../img/bg.png");position:relative;font-size:12px;margin:10px 0 0 0;padding:10px;border-radius:0 0 10px 10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-top:1px solid #f0f0f0;background:none}
#content-wrapper #template-two #content-section #content #portfolio section #portfolio-wrapper .portfolio-element:hover{opacity:1}
#content-wrapper #template-two #content-section #content #contact a{color:#f0f0f0}
#content-wrapper #template-two #content-section .hidden{display:none}
#content-wrapper #template-two #footer{position:fixed;bottom:0;height:30px;width:100%;text-align:center;line-height:30px;z-index:3}
#content-wrapper #template-two #footer h6{font-weight:lighter}
#content-wrapper #template-two #footer #interface{position:absolute;right:5px;bottom:0}
#content-wrapper #template-two #footer #interface #color-select{-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;-webkit-transition:height .3s;-moz-transition:height .3s;-o-transition:height .3s;-ms-transition:height .3s;transition:height .3s;position:fixed;display:inline-block;padding:5px;bottom:-5px;right:90px;height:30px;cursor:pointer;opacity:.6;z-index:999}
#content-wrapper #template-two #footer #interface #color-select:hover{opacity:1;height:60px}
#content-wrapper #template-two #footer #interface #color-select h6{font-weight:bold;color:#282828}
#content-wrapper #template-two #footer #interface #color-select #black,#content-wrapper #template-two #footer #interface #color-select #white{border:1px solid #adadad;cursor:pointer;-webkit-border-radius:9px;-moz-border-radius:9px;border-radius:9px;width:20px;margin:0 7px;height:20px;margin-bottom:5px}
#content-wrapper #template-two #footer #interface #color-select #black{background-color:#282828}
#content-wrapper #template-two #footer #interface #color-select #white{background-color:#f0f0f0}
#content-wrapper #template-two #footer #interface #template-select{-webkit-transition:max-height .3s;-moz-transition:max-height .3s;-o-transition:max-height .3s;-ms-transition:max-height .3s;transition:max-height .3s;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;position:fixed;display:inline-block;padding:5px;bottom:-5px;right:10px;cursor:pointer;line-height:30px;max-height:30px;text-shadow:0 0 0;opacity:.6;z-index:99}
#content-wrapper #template-two #footer #interface #template-select:hover{opacity:1;max-height:300px}
#content-wrapper #template-two #footer #interface #template-select:hover .templates{height:50px;padding:5px;opacity:1}
#content-wrapper #template-two #footer #interface #template-select .templates{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;-ms-transition:opacity .6s;transition:opacity .6s;width:100%;opacity:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#content-wrapper #template-two #footer #interface #template-select h6{font-weight:bold;color:#282828;bottom:0}
#content-wrapper #template-two #footer #interface #template-select .shake{display:blck}
@media (max-width: 1024px){#content-wrapper #template-two #header{height:80px}
#content-wrapper #template-two #header #name,#content-wrapper #template-two #header #title{display:block;margin:0 10px}
#content-wrapper #template-two #header #name{line-height:40px}
#content-wrapper #template-two #header nav{position:absolute;top:17px;right:10px;margin:13px;border:0}
}@media (max-width: 768px){#content-wrapper #template-two #header,#content-wrapper #template-two #footer{min-width:768px}
#content-wrapper #template-two #content-section #content #home section{width:400px}
#content-wrapper #template-two #content-section #content #portfolio section #portfolio-wrapper{width:546px}
}apper{width:546px}
}