@import url("color_t1.css");
@import url("csshake.css");
#content-wrapper{font-family:'Verdana';}
#content-wrapper #template-one,#content-wrapper #header,#content-wrapper #content-wrapper,#content-wrapper #footer{min-width:1000px;}
#content-wrapper #template-one h1,#content-wrapper #header h1,#content-wrapper #content-wrapper h1,#content-wrapper #footer h1,#content-wrapper #template-one h2,#content-wrapper #header h2,#content-wrapper #content-wrapper h2,#content-wrapper #footer h2,#content-wrapper #template-one h3,#content-wrapper #header h3,#content-wrapper #content-wrapper h3,#content-wrapper #footer h3,#content-wrapper #template-one h4,#content-wrapper #header h4,#content-wrapper #content-wrapper h4,#content-wrapper #footer h4,#content-wrapper #template-one h5,#content-wrapper #header h5,#content-wrapper #content-wrapper h5,#content-wrapper #footer h5,#content-wrapper #template-one h6,#content-wrapper #header h6,#content-wrapper #content-wrapper h6,#content-wrapper #footer h6,#content-wrapper #template-one p,#content-wrapper #header p,#content-wrapper #content-wrapper p,#content-wrapper #footer p{background:none;-webkit-background-clip:none;-webkit-text-fill-color:initial}
#content-wrapper #template-one{height:100%;}
#content-wrapper #template-one h1{font-size:28px;font-weight:lighter}
#content-wrapper #template-one nav{position:absolute;display:inline-block;width:162px;padding-top:80px;padding-bottom:30px;height:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background-image:url("../img/bg.png");z-index:2;-webkit-box-shadow:0 1px 2px 0 rgba(3,3,3,0.75);-moz-box-shadow:0 1px 2px 0 rgba(3,3,3,0.75);box-shadow:0 1px 2px 0 rgba(3,3,3,0.75);}
#content-wrapper #template-one nav ul{height:170px;}
#content-wrapper #template-one nav ul li{width:40px;height:120px;display:inline-block;writing-mode:tb-rl;cursor:pointer;float:left;clear:none;-webkit-transition:height .1s;-moz-transition:height .1s;-o-transition:height .1s;-ms-transition:height .1s;transition:height .1s;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-border-radius:0 0 20px 20px;-moz-border-radius:0 0 20px 20px;border-radius:0 0 20px 20px;z-index:1;}
#content-wrapper #template-one nav ul li:hover{background-image:url("../img/bg.png");height:140px}
#content-wrapper #template-one nav ul li p{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);margin:10px;font-weight:bold;font-size:16px}
#content-wrapper #template-one nav ul #nav-home{background-image:url("../img/bg.png")}
#content-wrapper #template-one nav ul #nav-work{background-image:url("../img/bg.png")}
#content-wrapper #template-one nav ul #nav-portfolio{background-image:url("../img/bg.png")}
#content-wrapper #template-one nav ul #nav-contact{background-image:url("../img/bg.png")}
#content-wrapper #template-one nav ul .active{height:140px;cursor:auto}
#content-wrapper #template-one nav #nav-info{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;padding:0 10px;}
#content-wrapper #template-one nav #nav-info h4{text-align:center}
#content-wrapper #template-one nav #nav-info h6{margin-left:10px;font-weight:lighter}
#content-wrapper #template-one nav #nav-info ol{list-style-position:inside;list-style-type:square}
#content-wrapper #template-one nav #nav-info #git,#content-wrapper #template-one nav #nav-info #linkedin{width:32px;height:32px;display:inline-block;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
#content-wrapper #template-one nav #nav-info img{width:140px;height:140px;-webkit-border-radius:70px;-moz-border-radius:70px;border-radius:70px}
#content-wrapper #template-one nav #nav-info .logo{color:#f0f0f0;font-family:monospace;-webkit-transform:scale(.777,2);-moz-transform:scale(.777,2);-o-transform:scale(.777,2);-ms-transform:scale(.777,2);transform:scale(.777,2)}
#content-wrapper #template-one #header{position:fixed;top:0;height:80px;width:100%;background-image:url("../img/bg.png");text-align:center;line-height:80px;padding:0 10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;z-index:4;}
#content-wrapper #template-one #header h1,#content-wrapper #template-one #header p{display:inline-block}
#content-wrapper #template-one #content-section{position:absolute;width:100%;height:100%;overflow:hidden;}
#content-wrapper #template-one #content-section #content{background-image:url("../img/bg.png");position:absolute;top:0;padding:80px 150px 40px 320px;width:100%;height:100%;box-sizing:border-box;overflow-y:auto;}
#content-wrapper #template-one #content-section #content #home,#content-wrapper #template-one #content-section #content #work,#content-wrapper #template-one #content-section #content #portfolio,#content-wrapper #template-one #content-section #content #contact{background-image:url("../img/bg.png");}
#content-wrapper #template-one #content-section #content #home h2,#content-wrapper #template-one #content-section #content #work h2,#content-wrapper #template-one #content-section #content #portfolio h2,#content-wrapper #template-one #content-section #content #contact h2{font-weight:100}
#content-wrapper #template-one #content-section #content #home header,#content-wrapper #template-one #content-section #content #work header,#content-wrapper #template-one #content-section #content #portfolio header,#content-wrapper #template-one #content-section #content #contact header{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background-image:url("../img/bg.png");position:relative}
#content-wrapper #template-one #content-section #content #home header,#content-wrapper #template-one #content-section #content #work header,#content-wrapper #template-one #content-section #content #portfolio header,#content-wrapper #template-one #content-section #content #contact header,#content-wrapper #template-one #content-section #content #home article,#content-wrapper #template-one #content-section #content #work article,#content-wrapper #template-one #content-section #content #portfolio article,#content-wrapper #template-one #content-section #content #contact article,#content-wrapper #template-one #content-section #content #home footer,#content-wrapper #template-one #content-section #content #work footer,#content-wrapper #template-one #content-section #content #portfolio footer,#content-wrapper #template-one #content-section #content #contact footer{padding:10px}
#content-wrapper #template-one #content-section #content #home footer,#content-wrapper #template-one #content-section #content #work footer,#content-wrapper #template-one #content-section #content #portfolio footer,#content-wrapper #template-one #content-section #content #contact footer{min-height:40px}
#content-wrapper #template-one #content-section #content #home #skills,#content-wrapper #template-one #content-section #content #work #skills,#content-wrapper #template-one #content-section #content #portfolio #skills,#content-wrapper #template-one #content-section #content #contact #skills{margin:auto;max-width:650px;border-spacing:0;}
#content-wrapper #template-one #content-section #content #home #skills td,#content-wrapper #template-one #content-section #content #work #skills td,#content-wrapper #template-one #content-section #content #portfolio #skills td,#content-wrapper #template-one #content-section #content #contact #skills td{border:1px solid #282828;padding:5px}
#content-wrapper #template-one #content-section #content #home .head-1,#content-wrapper #template-one #content-section #content #work .head-1,#content-wrapper #template-one #content-section #content #portfolio .head-1,#content-wrapper #template-one #content-section #content #contact .head-1,#content-wrapper #template-one #content-section #content #home .head-2,#content-wrapper #template-one #content-section #content #work .head-2,#content-wrapper #template-one #content-section #content #portfolio .head-2,#content-wrapper #template-one #content-section #content #contact .head-2,#content-wrapper #template-one #content-section #content #home .number,#content-wrapper #template-one #content-section #content #work .number,#content-wrapper #template-one #content-section #content #portfolio .number,#content-wrapper #template-one #content-section #content #contact .number{text-align:center}
#content-wrapper #template-one #content-section #content #home .head-1,#content-wrapper #template-one #content-section #content #work .head-1,#content-wrapper #template-one #content-section #content #portfolio .head-1,#content-wrapper #template-one #content-section #content #contact .head-1{background:#30a3d2}
#content-wrapper #template-one #content-section #content #home .head-2,#content-wrapper #template-one #content-section #content #work .head-2,#content-wrapper #template-one #content-section #content #portfolio .head-2,#content-wrapper #template-one #content-section #content #contact .head-2{font-size:16px;background:#ccc}
#content-wrapper #template-one #content-section #content #home .job-experience .job-company,#content-wrapper #template-one #content-section #content #work .job-experience .job-company,#content-wrapper #template-one #content-section #content #portfolio .job-experience .job-company,#content-wrapper #template-one #content-section #content #contact .job-experience .job-company{position:relative;border-radius:10px;}
#content-wrapper #template-one #content-section #content #home .job-experience .job-company a,#content-wrapper #template-one #content-section #content #work .job-experience .job-company a,#content-wrapper #template-one #content-section #content #portfolio .job-experience .job-company a,#content-wrapper #template-one #content-section #content #contact .job-experience .job-company a,#content-wrapper #template-one #content-section #content #home .job-experience .job-company h3,#content-wrapper #template-one #content-section #content #work .job-experience .job-company h3,#content-wrapper #template-one #content-section #content #portfolio .job-experience .job-company h3,#content-wrapper #template-one #content-section #content #contact .job-experience .job-company h3,#content-wrapper #template-one #content-section #content #home .job-experience .job-company .date,#content-wrapper #template-one #content-section #content #work .job-experience .job-company .date,#content-wrapper #template-one #content-section #content #portfolio .job-experience .job-company .date,#content-wrapper #template-one #content-section #content #contact .job-experience .job-company .date{display:inline-block}
#content-wrapper #template-one #content-section #content #home .job-experience .job-company:first-child,#content-wrapper #template-one #content-section #content #work .job-experience .job-company:first-child,#content-wrapper #template-one #content-section #content #portfolio .job-experience .job-company:first-child,#content-wrapper #template-one #content-section #content #contact .job-experience .job-company:first-child{margin-top:-10px}
#content-wrapper #template-one #content-section #content #home .job-experience .job-spec,#content-wrapper #template-one #content-section #content #work .job-experience .job-spec,#content-wrapper #template-one #content-section #content #portfolio .job-experience .job-spec,#content-wrapper #template-one #content-section #content #contact .job-experience .job-spec{padding:0 10px}
#content-wrapper #template-one #content-section #content #home .job-experience footer,#content-wrapper #template-one #content-section #content #work .job-experience footer,#content-wrapper #template-one #content-section #content #portfolio .job-experience footer,#content-wrapper #template-one #content-section #content #contact .job-experience footer{position:relative}
#content-wrapper #template-one #content-section #content #home .job-experience ul,#content-wrapper #template-one #content-section #content #work .job-experience ul,#content-wrapper #template-one #content-section #content #portfolio .job-experience ul,#content-wrapper #template-one #content-section #content #contact .job-experience ul{padding:0 15px 15px 15px;}
#content-wrapper #template-one #content-section #content #home .job-experience ul .role,#content-wrapper #template-one #content-section #content #work .job-experience ul .role,#content-wrapper #template-one #content-section #content #portfolio .job-experience ul .role,#content-wrapper #template-one #content-section #content #contact .job-experience ul .role{list-style-type:circle}
#content-wrapper #template-one #content-section #content #home .job-experience ul .achievements,#content-wrapper #template-one #content-section #content #work .job-experience ul .achievements,#content-wrapper #template-one #content-section #content #portfolio .job-experience ul .achievements,#content-wrapper #template-one #content-section #content #contact .job-experience ul .achievements{list-style-type:square}
#content-wrapper #template-one #content-section #content #home .job-experience .job,#content-wrapper #template-one #content-section #content #work .job-experience .job,#content-wrapper #template-one #content-section #content #portfolio .job-experience .job,#content-wrapper #template-one #content-section #content #contact .job-experience .job{display:block;padding-left:5px;border-radius:5px}
#content-wrapper #template-one #content-section #content #home #portfolio-wrapper,#content-wrapper #template-one #content-section #content #work #portfolio-wrapper,#content-wrapper #template-one #content-section #content #portfolio #portfolio-wrapper,#content-wrapper #template-one #content-section #content #contact #portfolio-wrapper{margin:0 auto;width:822px;}
#content-wrapper #template-one #content-section #content #home #portfolio-wrapper .portfolio-element,#content-wrapper #template-one #content-section #content #work #portfolio-wrapper .portfolio-element,#content-wrapper #template-one #content-section #content #portfolio #portfolio-wrapper .portfolio-element,#content-wrapper #template-one #content-section #content #contact #portfolio-wrapper .portfolio-element{display:inline-block;width:250px;-webkit-box-shadow:0 0 2px 1px rgba(0,0,0,0.3);-moz-box-shadow:0 0 2px 1px rgba(0,0,0,0.3);box-shadow:0 0 2px 1px rgba(0,0,0,0.3);-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;cursor:pointer;margin:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition:opacity .3s;-moz-transition:opacity .3s;-o-transition:opacity .3s;-ms-transition:opacity .3s;transition:opacity .3s;opacity:.6;}
#content-wrapper #template-one #content-section #content #home #portfolio-wrapper .portfolio-element .portfolio-title,#content-wrapper #template-one #content-section #content #work #portfolio-wrapper .portfolio-element .portfolio-title,#content-wrapper #template-one #content-section #content #portfolio #portfolio-wrapper .portfolio-element .portfolio-title,#content-wrapper #template-one #content-section #content #contact #portfolio-wrapper .portfolio-element .portfolio-title{-webkit-border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;border-radius:10px 10px 0 0;padding:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#content-wrapper #template-one #content-section #content #home #portfolio-wrapper .portfolio-element .portfolio-body,#content-wrapper #template-one #content-section #content #work #portfolio-wrapper .portfolio-element .portfolio-body,#content-wrapper #template-one #content-section #content #portfolio #portfolio-wrapper .portfolio-element .portfolio-body,#content-wrapper #template-one #content-section #content #contact #portfolio-wrapper .portfolio-element .portfolio-body{width:230px;height:230px;margin:10px;border:1px solid rgba(0,0,0,0.3);-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}
#content-wrapper #template-one #content-section #content #home #portfolio-wrapper .portfolio-element .portfolio-end,#content-wrapper #template-one #content-section #content #work #portfolio-wrapper .portfolio-element .portfolio-end,#content-wrapper #template-one #content-section #content #portfolio #portfolio-wrapper .portfolio-element .portfolio-end,#content-wrapper #template-one #content-section #content #contact #portfolio-wrapper .portfolio-element .portfolio-end{background-image:url("../img/bg.png");position:relative;font-size:12px;margin:10px 0 0 0;border-radius:0 0 10px 10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#content-wrapper #template-one #content-section #content #home #portfolio-wrapper .portfolio-element:hover,#content-wrapper #template-one #content-section #content #work #portfolio-wrapper .portfolio-element:hover,#content-wrapper #template-one #content-section #content #portfolio #portfolio-wrapper .portfolio-element:hover,#content-wrapper #template-one #content-section #content #contact #portfolio-wrapper .portfolio-element:hover{opacity:1;-webkit-box-shadow:0 0 2px 1px rgba(0,0,0,0.8);-moz-box-shadow:0 0 2px 1px rgba(0,0,0,0.8);box-shadow:0 0 2px 1px rgba(0,0,0,0.8)}
#content-wrapper #template-one #content-section #content .hidden{display:none}
#content-wrapper #template-one #footer{position:fixed;bottom:0;height:30px;width:100%;background-image:url("../img/bg.png");text-align:center;line-height:30px;z-index:3;}
#content-wrapper #template-one #footer h6{font-weight:lighter}
#content-wrapper #template-one #footer #interface{position:absolute;right:5px;bottom:0;}
#content-wrapper #template-one #footer #interface #color-select{-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;-webkit-transition:height .3s;-moz-transition:height .3s;-o-transition:height .3s;-ms-transition:height .3s;transition:height .3s;position:fixed;display:inline-block;padding:5px;bottom:-5px;right:90px;height:30px;cursor:pointer;opacity:.6;z-index:999;}
#content-wrapper #template-one #footer #interface #color-select:hover{opacity:1;height:60px}
#content-wrapper #template-one #footer #interface #color-select h6{font-weight:bold;color:#282828}
#content-wrapper #template-one #footer #interface #color-select #black,#content-wrapper #template-one #footer #interface #color-select #white{border:1px solid #adadad;cursor:pointer;-webkit-border-radius:9px;-moz-border-radius:9px;border-radius:9px;width:20px;margin:0 7px;height:20px;margin-bottom:5px}
#content-wrapper #template-one #footer #interface #color-select #black{background-color:#282828}
#content-wrapper #template-one #footer #interface #color-select #white{background-color:#f0f0f0}
#content-wrapper #template-one #footer #interface #template-select{-webkit-transition:max-height .3s;-moz-transition:max-height .3s;-o-transition:max-height .3s;-ms-transition:max-height .3s;transition:max-height .3s;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;position:fixed;display:inline-block;padding:5px;bottom:-5px;right:10px;cursor:pointer;line-height:30px;max-height:30px;text-shadow:0 0 0;opacity:.6;z-index:99;}
#content-wrapper #template-one #footer #interface #template-select:hover{opacity:1;max-height:300px;}
#content-wrapper #template-one #footer #interface #template-select:hover .templates{height:50px;padding:5px;opacity:1}
#content-wrapper #template-one #footer #interface #template-select .templates{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;-ms-transition:opacity .6s;transition:opacity .6s;width:100%;opacity:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#content-wrapper #template-one #footer #interface #template-select h6{font-weight:bold;color:#282828;bottom:0}
#content-wrapper #template-one #footer #interface #template-select .shake{display:#000}
@media (max-width: 1280px){#content-wrapper #template-one #content-section #content{padding:80px 20px 40px 190px}
}@media (max-width: 1024px){#content-wrapper #template-one #header{height:60px;line-height:60px}
#content-wrapper #template-one nav{padding-top:60px;width:122px;}
#content-wrapper #template-one nav ul{height:130px;}
#content-wrapper #template-one nav ul li{width:30px;height:100px;-webkit-transition:height .2s;-moz-transition:height .2s;-o-transition:height .2s;-ms-transition:height .2s;transition:height .2s;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-border-radius:0 0 10px 10px;-moz-border-radius:0 0 10px 10px;border-radius:0 0 10px 10px;z-index:1;}
#content-wrapper #template-one nav ul li:hover{height:110px}
#content-wrapper #template-one nav ul li p{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);font-size:14px;margin:5px}
#content-wrapper #template-one nav ul .active{height:110px}
#content-wrapper #template-one nav #nav-info img{width:100px;height:100px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px}
#content-wrapper #template-one #content-section #content{padding:60px 20px 20px 139px;}
#content-wrapper #template-one #content-section #content #skills{max-width:546px;}
#content-wrapper #template-one #content-section #content #skills .head-1{font-size:20px}
#content-wrapper #template-one #content-section #content #skills .head-2{font-size:14px}
#content-wrapper #template-one #content-section #content #portfolio #portfolio-wrapper{width:546px}
#content-wrapper #template-one #footer{height:20px;line-height:20px;}
#content-wrapper #template-one #footer #color-select{line-height:30px}
}@media (max-width: 768px){#content-wrapper #template-one #header,#content-wrapper #template-one #content-section,#content-wrapper #template-one #footer{min-width:768px}
#content-wrapper #template-one nav{padding-top:80px;}
#content-wrapper #template-one nav ul{height:200px}
#content-wrapper #template-one #header{height:80px;line-height:40px;}
#content-wrapper #template-one #header h1,#content-wrapper #template-one #header p{display:block}
#content-wrapper #template-one #content-section #content{padding:80px 20px 20px 139px}
}@media (max-width: 568px){#content-wrapper #template-one #header,#content-wrapper #template-one #content-section,#content-wrapper #template-one #footer{min-width:568px}
#content-wrapper #template-one nav{position:fixed;padding-top:40px;width:102px;}
#content-wrapper #template-one nav ul{height:100px;}
#content-wrapper #template-one nav ul li{width:25px;height:80px;}
#content-wrapper #template-one nav ul li:hover{height:90px}
#content-wrapper #template-one nav ul li p{font-size:12px}
#content-wrapper #template-one nav ul .active{height:90px}
#content-wrapper #template-one nav #nav-info img{width:75px;height:75px;-webkit-border-radius:38px;-moz-border-radius:38px;border-radius:38px}
#content-wrapper #template-one nav #nav-info h4{font-size:14px}
#content-wrapper #template-one nav #nav-info h5,#content-wrapper #template-one nav #nav-info h6,#content-wrapper #template-one nav #nav-info #git,#content-wrapper #template-one nav #nav-info #linkedin{display:none}
#content-wrapper #template-one #header{height:40px !important;line-height:20px;}
#content-wrapper #template-one #header h1,#content-wrapper #template-one #header p{display:block}
#content-wrapper #template-one #header h1{font-size:18px}
#content-wrapper #template-one #header p{font-size:12px}
#content-wrapper #template-one #content-section #content{width:568px !important;padding:40px 10px 20px 109px;}
#content-wrapper #template-one #content-section #content h3{font-size:14px}
#content-wrapper #template-one #content-section #content p,#content-wrapper #template-one #content-section #content li,#content-wrapper #template-one #content-section #content a,#content-wrapper #template-one #content-section #content .technologies{font-size:12px}
#content-wrapper #template-one #content-section #content #skills{max-width:270px}
#content-wrapper #template-one #content-section #content .head-1{font-size:18px}
#content-wrapper #template-one #content-section #content td,#content-wrapper #template-one #content-section #content .head-2{font-size:12px}
#content-wrapper #template-one #content-section #content #portfolio #portfolio-wrapper{width:270px;}
#content-wrapper #template-one #content-section #content #portfolio #portfolio-wrapper .portfolio-element{width:250px;}
#content-wrapper #template-one #content-section #content #portfolio #portfolio-wrapper .portfolio-element .portfolio-body{width:230px;background-size:230px}
#content-wrapper #template-one #footer{display:none}
}@media (max-width: 480px){#content-wrapper #template-one #header,#content-wrapper #template-one #content-section,#content-wrapper #template-one #footer{min-width:480px}
#content-wrapper #template-one nav{position:fixed;padding-top:40px;width:101px;}
#content-wrapper #template-one nav ul{height:100px;}
#content-wrapper #template-one nav ul li{width:25px;height:80px;}
#content-wrapper #template-one nav ul li:hover{height:90px}
#content-wrapper #template-one nav ul li p{font-size:12px}
#content-wrapper #template-one nav ul .active{height:90px}
#content-wrapper #template-one nav #nav-info img{width:75px;height:75px;-webkit-border-radius:38px;-moz-border-radius:38px;border-radius:38px}
#content-wrapper #template-one nav #nav-info h4{font-size:14px}
#content-wrapper #template-one nav #nav-info h5,#content-wrapper #template-one nav #nav-info h6,#content-wrapper #template-one nav #nav-info #git,#content-wrapper #template-one nav #nav-info #linkedin{display:none}
#content-wrapper #template-one #header{height:40px !important;line-height:20px;}
#content-wrapper #template-one #header h1,#content-wrapper #template-one #header p{display:block}
#content-wrapper #template-one #header h1{font-size:18px}
#content-wrapper #template-one #header p{font-size:12px}
#content-wrapper #template-one #content-section #content{width:480px !important;padding:40px 10px 20px 109px;}
#content-wrapper #template-one #content-section #content h3{font-size:14px}
#content-wrapper #template-one #content-section #content p,#content-wrapper #template-one #content-section #content li,#content-wrapper #template-one #content-section #content a,#content-wrapper #template-one #content-section #content .technologies{font-size:12px}
#content-wrapper #template-one #content-section #content #skills{max-width:220px;}
#content-wrapper #template-one #content-section #content #skills .head-1{font-size:18px}
#content-wrapper #template-one #content-section #content #skills td,#content-wrapper #template-one #content-section #content #skills .head-2{font-size:12px}
#content-wrapper #template-one #content-section #content #portfolio #portfolio-wrapper{width:220px;}
#content-wrapper #template-one #content-section #content #portfolio #portfolio-wrapper .portfolio-element{width:200px;}
#content-wrapper #template-one #content-section #content #portfolio #portfolio-wrapper .portfolio-element .portfolio-body{width:180px;background-size:180px}
#content-wrapper #template-one #footer{display:none}
}@media (max-width: 320px){#content-wrapper #template-one #header,#content-wrapper #template-one #content-section,#content-wrapper #template-one #footer{min-width:320px}
#content-wrapper #template-one nav{position:fixed;padding-top:40px;width:82px;}
#content-wrapper #template-one nav ul{height:100px;}
#content-wrapper #template-one nav ul li{width:20px;height:80px;}
#content-wrapper #template-one nav ul li:hover{height:90px}
#content-wrapper #template-one nav ul li p{font-size:12px}
#content-wrapper #template-one nav ul .active{height:90px}
#content-wrapper #template-one nav #nav-info img{width:60px;height:60px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px}
#content-wrapper #template-one nav #nav-info h4{font-size:12px}
#content-wrapper #template-one nav #nav-info h5,#content-wrapper #template-one nav #nav-info h6,#content-wrapper #template-one nav #nav-info #git,#content-wrapper #template-one nav #nav-info #linkedin{display:none}
#content-wrapper #template-one #header{height:40px !important;line-height:20px;}
#content-wrapper #template-one #header h1,#content-wrapper #template-one #header p{display:block}
#content-wrapper #template-one #header h1{font-size:16px}
#content-wrapper #template-one #header p{font-size:8px}
#content-wrapper #template-one #content-section #content{width:320px !important;padding:40px 10px 20px 89px;}
#content-wrapper #template-one #content-section #content h3{font-size:14px}
#content-wrapper #template-one #content-section #content p,#content-wrapper #template-one #content-section #content li,#content-wrapper #template-one #content-section #content a,#content-wrapper #template-one #content-section #content .technologies{font-size:12px;word-break:break-all}
#content-wrapper #template-one #content-section #content #skills{max-width:200px;}
#content-wrapper #template-one #content-section #content #skills .head-1{font-size:18px}
#content-wrapper #template-one #content-section #content #skills td,#content-wrapper #template-one #content-section #content #skills .head-2{font-size:12px}
#content-wrapper #template-one #content-section #content #portfolio #portfolio-wrapper{width:200px;}
#content-wrapper #template-one #content-section #content #portfolio #portfolio-wrapper .portfolio-element{width:180px;}
#content-wrapper #template-one #content-section #content #portfolio #portfolio-wrapper .portfolio-element .portfolio-body{width:160px;background-size:160px}
#content-wrapper #template-one #footer{display:none}
}