@import url( "styles_t1.css" );
@import url( "styles_t2.css" );
@import url( "styles_t3.css" );

background-vgradient()
	background arguments[0] /* Old browsers */
	background -moz-linear-gradient(top, arguments[0] 1%, arguments[1] 100%) /* FF3.6+ */
	background -webkit-gradient(linear, left top, left bottom, color-stop(1%,arguments[0]), color-stop(100%,arguments[1])) /* Chrome,Safari4+ */
	background -webkit-linear-gradient(top, arguments[0] 1%,arguments[1] 100%) /* Chrome10+,Safari5.1+ */
	background -o-linear-gradient(top, arguments[0] 1%,arguments[1] 100%) /* Opera 11.10+ */
	background -ms-linear-gradient(top, arguments[0] 1%,arguments[1] 100%) /* IE10+ */
	background linear-gradient(to bottom, arguments[0] 1%,arguments[1] 100%) /* W3C */

myanimation()
	-webkit-animation arguments
	-moz-animation arguments
	-o-animation arguments
	-ms-animation arguments
	animation arguments

myanimation-delay()
	-moz-animation-delay arguments
	-webkit-animation-delay arguments
	-ms-animation-delay arguments
	-o-animation-delay arguments
	animation-delay arguments

myanimation-direction()
	-moz-animation-direction arguments
	-webkit-animation-direction arguments
	-ms-animation-direction arguments
	-o-animation-direction arguments
	animation-direction arguments

myanimation-iteration()
	-moz-animation-iteration-count arguments
	-webkit-animation-iteration-count arguments
	-ms-animation-iteration-count arguments
	-o-animation-iteration-count arguments
	animation-iteration-count arguments

myborder-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

mybox-shadow()
	box-shadow arguments

mybox-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	box-sizing arguments

mytransition()
	-webkit-transition arguments
	-moz-transition arguments
	-o-transition arguments
	-ms-transition arguments
	transition arguments

mytransform()
	-webkit-transform arguments
	-moz-transform arguments
	-ms-transform arguments
	-o-transform arguments
	transform arguments

myuserselect()
	-webkit-touch-callout arguments
	-webkit-user-select arguments
	-khtml-user-select arguments
	-moz-user-select arguments
	-ms-user-select arguments
	user-select arguments

mymask()
	-webkit-mask-image arguments
	-o-mask-image arguments
	-moz-mask-image arguments
	mask-image arguments

*
	margin 0
	padding 0
	outline none

a
	text-decoration none

h1
	font-size 25px

h2
	font-size 20px

button
	border 0
	cursor pointer

html
	height 100%
	width 100%

header, footer
	width 100%
	position fixed

body
	font-family "Arial"
	height 100%
	margin 0
	padding 0
	width 100%

img
	border 0

li
	list-style-type none
#choice-lagn
	position fixed
	bottom -17px
	left 0
	z-index 9999

	#en, #es
		display inline-block
		cursor pointer
		width 50px
		height 25px
		myborder-radius(5px 5px 0 0 )
		margin-left 3px
		mytransition(margin 0.3s)

		&:hover
			margin-bottom 12px

	#en
		background url(../img/en.jpg) no-repeat
		background-size 50px
	#es
		background url(../img/es.jpg) no-repeat
		background-size 50px

	.active
		margin-bottom 12px


#content-wrapper
	background #fff
	box-sizing border-box
	height 100%
	position absolute
	width 100%
	z-index 1
	overflow hidden

	header
		top 0

	footer
		bottom 0

	#home-content
		background #fff url(../img/background2.png) no-repeat
		background-attachment fixed
		background-position center
		width 100%
		height 100%
		text-align center
		color #fff

		header, footer
			background #466F81
			max-height 50px
			line-height 50px
			z-index 2

	    h1, h2, h3, h4, h5, h6, p, .select-template, .title
			background  url(../img/background2.png) no-repeat
			background-attachment fixed
			background-position center
			-webkit-background-clip text
			-webkit-text-fill-color transparent

		#home-body
			position absolute
			width 100%
			height 100%
			padding 50px 0

			mybox-sizing(border-box)
			overflow auto
			z-index 1

			h2, h5
				padding-top 10px
				font-weight lighter

			#content-templates
				max-width 800px
				margin 0 auto

				.select-template
					display inline-block
					position relative
					-webkit-background-clip content-box
					margin 20px 20px 30px 20px
					myborder-radius(15px)
					width 250px
					height 250px
					cursor pointer

					&:hover
						mybox-shadow(0px 0px 3px 2px rgba(255, 255, 255, 0.75))

						.title
							bottom -30px
							opacity 1

						.template-img
							img
								opacity 1
					
					.title
						position absolute
						display inline-block
						mytransition(bottom 0.3s)
						bottom 0
						width 100%
						left 0
						opacity 0

					.template-img
						padding 2px
						width 100%
						height 100%
						mybox-sizing(border-box)

						img
							width 100%
							height 100%
							border 1px solid rgba(0, 0, 0, 0.85)
							mybox-sizing(border-box)
							myborder-radius(15px)
							opacity 0.85
							mytransition(opacity 0.3s)

		.cover
			background rgba(33, 33, 33, 0.85)
			width 100%
			height 100%
			position fixed
			top 0
			left 0
			z-index 0

footer
	#template-select
		
		#template1
			background url(../img/template_1.jpg) no-repeat 
		
		#template2
			background url(../img/template_2.jpg) no-repeat 
		
		#template3
			background url(../img/template_3.jpg) no-repeat 
		
		#template4
			background url(../img/background2.jpg) no-repeat 
		
		#template1, #template2, #template3, #template4
			background-size 50px

@media (max-width: 1024px)
	footer
		#template-select, #color-select
			display none !important

@media (max-width: 768px)
	footer
		#template-select, #color-select
			display none !important
	
@media (max-width: 568px)
	
	h1
		line-height 20px
		font-size 16px

	h6
		line-height 20px

	#content-wrapper
		#main-header, #main-footer
			line-height 20px
			max-height 20px

		#home-content
			#home-body
				padding 20px 0

				#main-title, #main-subtitle
					font-size 10px

				#content-templates
					#t_2, #t_3
						display none

					.select-template
						width 150px
						height 150px

						.title
							font-size 12px

@media (max-width: 320px)
	#content-wrapper
		#home-content
			#home-body
				#main-title, #main-subtitle
					font-size 14px

				#content-templates
					#t_2, #t_3
						display none




