
default_gray = #282828
default_gray_soft = #ccc
default_blue = #30a3d2
default_blue_lite = #78A8C3
default_wite = #f0f0f0

mybox-sizing()
    -webkit-box-sizing arguments
    -moz-box-sizing arguments
    box-sizing arguments

myborder-radius()
    -webkit-border-radius arguments
    -moz-border-radius arguments
    border-radius arguments

mytransform()
    -webkit-transform arguments
    -moz-transform arguments
    -o-transform arguments
    -ms-transform arguments
    transform arguments

mytransition()
    -webkit-transition arguments
    -moz-transition arguments
    -o-transition arguments
    -ms-transition arguments
    transition arguments

myuserselect()
    -webkit-touch-callout arguments
    -webkit-user-select arguments
    -khtml-user-select arguments
    -moz-user-select arguments
    -ms-user-select arguments
    user-select arguments

mybox-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments

myuserselect()
	-webkit-touch-callout arguments
	-webkit-user-select arguments
	-khtml-user-select arguments
	-moz-user-select arguments
	-ms-user-select arguments
	user-select arguments

#content-wrapper
	font-family 'Helvetica'

	#template-two
        height 100%
        background default_gray
        background-image url('../img/noise-bg2b.png')

        #header, #content-section
            max-width 1000px
            margin 0 auto
            position relative

        #header
            background default_gray
            text-shadow none
            mybox-shadow(none)
            height 50px
            
            #name, #title, nav
                display inline-block

            #name, #title
                h1,h2,p
                    font-weight lighter

                p
                    font-size 12px

            #name
                margin 0 10px
                line-height 50px   

            nav
                float right
                margin 13px
                border 0

                ul
                    li
                        color default_wite
                        display inline-block
                        background transparent
                        cursor pointer
                        border 0
                        myborder-radius(3px)

                        p
                            font-size 12px
                            margin 2px

            #nav-home, #nav-work, #nav-portfolio, #nav-contact
                opacity 1         

        #content-section
            height 100%
            background rgba(28, 28, 28, 0.7)
            mybox-sizing(border-box)
            padding 20px 20px 100px 20px
            overflow auto

            #content
                myborder-radius(20px)
                background #282828
                width 100%

                #home, #work, #portfolio, #contact
                    padding 10px
                    position relative
                    mybox-shadow(none)
                    background transparent

                    header
                        background transparent
                        margin-bottom 10px
                        position relative

                    h1,h2,h3,p,li
                        font-weight lighter
                        -webkit-text-fill-color initial
                        background none
                        color default_wite

                #home
                    img
                        myborder-radius(120px)
                        vertical-align top
                        margin 0 10px 0 15px

                    section
                        margin 0 20px 0 10px
                        width 600px

                    section, img
                        display inline-block

                    #skills
                        margin auto
                        max-width 650px
                        border-spacing 0
                        background default_wite

                        td
                            border 1px solid default_gray
                            padding 5px

                        .head-1, .head-2, .number
                            text-align center

                        .head-1
                            h2
                                color default_gray

                        .head-2
                            font-size 16px
                            background default_gray_soft

                #work, #portfolio, #contact
                    header
                        margin 15px 0
                        padding 0 10px
                
                #work
                    
                    section
                        margin 0 20px 0 0

                        .job-company
                            position relative
                            border-radius 10px
                            margin-top 10px
                            padding 10px
                            border 1px solid default_wite

                            a, h3, .date
                                display inline-block
                            
                            h3 
                                font-weight bold

                            a, .date
                                font-weight lighter

                        .job-spec
                            margin 0 -10px 0 10px
                            padding 0 
                        
                        footer
                            position relative
                            margin 0 -10px 0 10px   

                        ul
                            padding 0 15px 15px 15px

                            .role
                                list-style-type circle

                            .achievements
                                list-style-type square

                        .job
                            display block
                            padding 5px
                            margin-top 0px
                            border-radius 5px
                            background none
                            color default_wite
                            font-weight bold
                    
                #portfolio
                    section
                        #portfolio-wrapper
                            margin 0 auto
                            width 822px

                            .portfolio-element
                                display inline-block
                                width 250px
                                myborder-radius(10px)
                                mybox-sizing(border-box)
                                mytransition(opacity, 0.3s)
                                opacity 0.6
                                cursor pointer
                                margin 10px
                                border 1px solid default_wite

                                
                                .portfolio-title
                                    myborder-radius(10px 10px 0 0)
                                    padding 10px
                                    margin 0
                                    mybox-sizing(border-box)
                                    mybox-sizing(border-box)
                                    
                                .portfolio-body
                                    width 230px
                                    height 230px
                                    margin 8px
                                    border 1px solid rgba(0, 0, 0, 0.3)
                                    myborder-radius(10px)
                                    
                                .portfolio-end
                                    background-image url('../img/bg.png')
                                    position relative
                                    font-size 12px
                                    margin 10px 0 0 0
                                    padding 10px
                                    border-radius 0 0 10px 10px
                                    mybox-sizing(border-box)
                                    border-top 1px solid default_wite
                                    background none

                                &:hover
                                    opacity 1

                #contact
                    a
                        color default_wite

            .hidden
                display none
                            

        #footer
            position fixed
            bottom 0
            height 30px
            width 100%
            text-align center
            line-height 30px
            z-index 3
                
            h6
                font-weight lighter
                
            #interface
                    position absolute
                    right 5px
                    bottom 0

                    #color-select
                        myborder-radius(5px 5px 0 0)
                        mytransition(height, 0.3s)
                        position fixed
                        display inline-block
                        padding 5px
                        bottom -5px
                        right 90px
                        height 30px
                        cursor pointer
                        opacity 0.6
                        z-index 999

                        &:hover
                            opacity 1
                            height 60px

                        h6
                            font-weight bold
                            color default_gray

                        #black, #white
                            border 1px solid #adadad
                            cursor pointer
                            myborder-radius(9px)
                            width 20px
                            margin 0 7px
                            height 20px
                            margin-bottom 5px

                        #black
                            background-color default_gray
                            

                        #white
                            background-color default_wite

                    #template-select
                        mytransition(max-height, 0.3s)
                        myborder-radius(5px 5px 0 0)
                        position fixed
                        display inline-block
                        padding 5px
                        bottom -5px
                        right 10px
                        cursor pointer
                        line-height 30px
                        max-height 30px
                        text-shadow 0px 0px 0px
                        opacity 0.6
                        z-index 99

                        &:hover
                            opacity 1
                            max-height 300px

                            .templates
                                height 50px
                                padding 5px
                                opacity 1

                        .templates
                            myborder-radius(5px)
                            mytransition(opacity, 0.6s)
                            width 100%
                            opacity 0
                            mybox-sizing(border-box)


                        h6
                            font-weight bold
                            color default_gray
                            bottom 0

                        .shake
                            display blck


@media (max-width: 1024px)
    #content-wrapper
        #template-two
            #header
                height 80px
                
                #name, #title
                    display block
                    margin 0 10px

                #name
                    line-height 40px
                    
                nav
                    position absolute
                    top 17px
                    right 10px
                    margin 13px
                    border 0

@media (max-width: 768px)
    #content-wrapper
        #template-two
            #header, #footer
                min-width 768px

            #content-section
                #content
                    
                    #home
                        section
                            width 400px

                    #portfolio
                        section
                            #portfolio-wrapper
                                width 546px
