
default_gray = #282828
default_gray_soft = #ccc
default_blue = #30a3d2
default_blue_lite = #78A8C3
default_wite = #f0f0f0

mybox-sizing()
    -webkit-box-sizing arguments
    -moz-box-sizing arguments
    box-sizing arguments

myborder-radius()
    -webkit-border-radius arguments
    -moz-border-radius arguments
    border-radius arguments

mytransform()
    -webkit-transform arguments
    -moz-transform arguments
    -o-transform arguments
    -ms-transform arguments
    transform arguments

mytransition()
    -webkit-transition arguments
    -moz-transition arguments
    -o-transition arguments
    -ms-transition arguments
    transition arguments

myuserselect()
    -webkit-touch-callout arguments
    -webkit-user-select arguments
    -khtml-user-select arguments
    -moz-user-select arguments
    -ms-user-select arguments
    user-select arguments

mybox-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments

myuserselect()
	-webkit-touch-callout arguments
	-webkit-user-select arguments
	-khtml-user-select arguments
	-moz-user-select arguments
	-ms-user-select arguments
	user-select arguments

#content-wrapper
	font-family 'Helvetica'

	#template-three
        height 100%
        background transparent
        background-image url('../img/noise-bg2b.png')

        header, section, footer
            position relative   

        nav
            margin-top 10px
            position fixed
            left 0
            border 0
            width 150px
            z-index 999
            mybox-shadow(2px 2px 10px rgba(0, 0, 0, 0.5))
            background default_wite
            myborder-radius(0 10px 10px 0)

            h3, p
                -webkit-text-fill-color initial

            ul
                margin 10px

                li
                    color default_gray
                    display block
                    background transparent
                    cursor pointer
                    border 0
                    myborder-radius(3px)

                    &:hover
                        color default_wite

                    p
                        font-size 16px
                        margin 2px


                .active
                    color default_wite
            
            #name
                text-align center
                margin 10px

                h3
                    font-size 18px

            #nav-home, #nav-work, #nav-portfolio, #nav-contact
                opacity 1

        #content-section
            width 100%
            margin 0 auto
            position relative
            height 100%
            mybox-sizing(border-box)
            padding 10px 0 30px 170px
            overflow hidden
            overflow-y scroll

            #header
                border 0
                background transparent
                text-shadow none
                mybox-shadow(none)
                color default_gray
                text-align center
                margin-bottom 50px
                        
                img
                    width 200px
                    height 200px
                    myborder-radius(100px)

                #title
                    margin 0 auto

                    h2,p
                        font-weight lighter

                    p
                        font-size 12px


            #content
                background transparent
                width 100%

                .pag1, .pag2, .pag3
                    max-width 900px
                    mybox-shadow(2px 2px 10px rgba(0, 0, 0, 0.5))
                    background default_wite

                .pag1
                    mytransform(rotate(1deg))
                    margin 0 auto
                    margin-bottom 50px

                .pag2
                    mytransform(rotate(1deg))

                .pag3
                    mytransform(rotate(-2deg))

                    #home, #work, #portfolio, #contact
                        margin 0 auto
                        max-width 100%
                        background transparent
                        padding 10px
                        position relative
                        mybox-shadow(none) 

                        header
                            font-weight bold
                            background transparent
                            margin-bottom 10px
                            position relative

                        h1,h2,h3,p,li
                            font-weight lighter
                            -webkit-text-fill-color initial
                            color default_gray

                    #home

                        section
                            margin 0 20px 0 10px

                        section, img
                            display inline-block

                        #skills
                            margin auto
                            max-width 650px
                            border-spacing 0

                            td
                                border 1px solid default_gray
                                padding 5px

                            .head-1, .head-2, .number
                                text-align center

                            .head-1
                                font-size 22px
                                font-weight bold

                            .head-2
                                font-size 16px
                                background default_gray_soft

                    #work, #portfolio, #contact
                        header
                            margin 15px 0
                            padding 0 10px
                    
                    #work
                        
                        section
                            margin 0 20px 0 0

                            .job-company
                                background default_blue_lite
                                position relative
                                border-radius 10px
                                margin-top 10px
                                padding 10px
                                border 1px solid default_wite

                                a, h3, .date
                                    display inline-block
                                    color default_wite
                                
                                h3 
                                    font-weight bold

                                a, .date
                                    font-weight lighter

                            .job-spec
                                margin 0 -10px 0 10px
                                padding 0 
                            
                            footer
                                position relative
                                margin 0 -10px 0 10px   

                            ul
                                padding 0 15px 15px 15px

                                .role
                                    list-style-type circle

                                .achievements
                                    list-style-type square

                            .job
                                display block
                                padding 5px
                                margin-top -10px
                                border-radius 5px
                                background none
                                color default_blue_lite
                                font-weight bold
                        
                    #portfolio
                        section
                            #portfolio-wrapper
                                margin 0 auto
                                width 822px

                                .portfolio-element
                                    display inline-block
                                    width 250px
                                    myborder-radius(10px)
                                    mybox-sizing(border-box)
                                    mytransition(opacity, 0.3s)
                                    opacity 0.6
                                    cursor pointer
                                    margin 10px
                                    border 1px solid default_gray

                                    
                                    .portfolio-title
                                        myborder-radius(10px 10px 0 0)
                                        padding 10px
                                        margin 0
                                        mybox-sizing(border-box)
                                        mybox-sizing(border-box)
                                        
                                    .portfolio-body
                                        width 230px
                                        height 230px
                                        margin 8px
                                        border 1px solid rgba(0, 0, 0, 0.3)
                                        myborder-radius(10px)
                                        
                                    .portfolio-end
                                        background-image url('../img/bg.png')
                                        position relative
                                        font-size 12px
                                        margin 10px 0 0 0
                                        padding 10px
                                        border-radius 0 0 10px 10px
                                        mybox-sizing(border-box)
                                        border-top 1px solid default_wite
                                        background none

                                    &:hover
                                        opacity 1

                    #contact
                        a
                            color default_gray

                .hidden
                    display none
                            

        #footer
            position fixed
            bottom 0
            height 30px
            width 100%
            text-align center
            line-height 30px
            background default_wite
            border-top 1px solid default_gray
            z-index 3
                
            h6
                color default_gray
                font-weight lighter
                
            #interface
                    position absolute
                    right 5px
                    bottom 0

                    #template-select
                        mytransition(max-height, 0.3s)
                        myborder-radius(5px 5px 0 0)
                        position fixed
                        display inline-block
                        padding 5px
                        bottom -5px
                        right 10px
                        cursor pointer
                        line-height 30px
                        max-height 30px
                        text-shadow 0px 0px 0px
                        opacity 0.6
                        z-index 99
                        border 1px solid default_wite
                        background default_gray

                        &:hover
                            opacity 1
                            max-height 300px

                            .templates
                                height 50px
                                padding 5px
                                opacity 1

                        .templates
                            myborder-radius(5px)
                            mytransition(opacity, 0.6s)
                            width 100%
                            opacity 0
                            mybox-sizing(border-box)


                        h6
                            color default_wite
                            bottom 0

@media (max-width: 1024px)
    #content-wrapper
        #template-three
            #content-section
                #header
                    min-width 750px !important
                #content
                    .pag1, .pag2, .pag3
                        max-width 750px
                    .pag3
                        #portfolio
                            #portfolio-wrapper
                                width 546px !important

@media (max-width: 768px)
    #content-wrapper
        #template-three
            #content-section
                #header
                    min-width 500px !important
                #content
                    .pag1, .pag2, .pag3
                        max-width 500px
                    .pag3
                        #portfolio
                            #portfolio-wrapper
                                width 273px !important
            #footer
                min-width 100% !important

