@import url("styles_t1.css");
@import url("styles_t2.css");
@import url("styles_t3.css");
*{margin:0;padding:0;outline:none}
a{text-decoration:none}
h1{font-size:25px}
h2{font-size:20px}
button{border:0;cursor:pointer}
html{height:100%;width:100%}
header,footer{width:100%;position:fixed}
body{font-family:"Arial";height:100%;margin:0;padding:0;width:100%}
img{border:0}
li{list-style-type:none}
#choice-lagn{position:fixed;bottom:-17px;left:0;z-index:9999;}
#choice-lagn #en,#choice-lagn #es{display:inline-block;cursor:pointer;width:50px;height:25px;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;margin-left:3px;-webkit-transition:margin .3s;-moz-transition:margin .3s;-o-transition:margin .3s;-ms-transition:margin .3s;transition:margin .3s;}
#choice-lagn #en:hover,#choice-lagn #es:hover{margin-bottom:12px}
#choice-lagn #en{background:url("../img/en.jpg") no-repeat;background-size:50px}
#choice-lagn #es{background:url("../img/es.jpg") no-repeat;background-size:50px}
#choice-lagn .active{margin-bottom:12px}
#content-wrapper{background:#fff;box-sizing:border-box;height:100%;position:absolute;width:100%;z-index:1;overflow:hidden;}
#content-wrapper header{top:0}
#content-wrapper footer{bottom:0}
#content-wrapper #home-content{background:#fff url("../img/background2.png") no-repeat;background-attachment:fixed;background-position:center;width:100%;height:100%;text-align:center;color:#fff;}
#content-wrapper #home-content header,#content-wrapper #home-content footer{background:#466f81;max-height:50px;line-height:50px;z-index:2}
#content-wrapper h1,#content-wrapper h2,#content-wrapper h3,#content-wrapper h4,#content-wrapper h5,#content-wrapper h6,#content-wrapper p,#content-wrapper .select-template,#content-wrapper .title{background:url("../img/background2.png") no-repeat;background-attachment:fixed;background-position:center;-webkit-background-clip:text;-webkit-text-fill-color:transparent}
#content-wrapper #home-body{position:absolute;width:100%;height:100%;padding:50px 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;overflow:auto;z-index:1;}
#content-wrapper #home-body h2,#content-wrapper #home-body h5{padding-top:10px;font-weight:lighter}
#content-wrapper #home-body #content-templates{max-width:800px;margin:0 auto;}
#content-wrapper #home-body #content-templates .select-template{display:inline-block;position:relative;-webkit-background-clip:content-box;margin:20px 20px 30px 20px;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;width:250px;height:250px;cursor:pointer;}
#content-wrapper #home-body #content-templates .select-template:hover{box-shadow:0 0 3px 2px rgba(255,255,255,0.75);}
#content-wrapper #home-body #content-templates .select-template:hover .title{bottom:-30px;opacity:1}
#content-wrapper #home-body #content-templates .select-template:hover .template-img img{opacity:1}
#content-wrapper #home-body #content-templates .select-template .title{position:absolute;display:inline-block;-webkit-transition:bottom .3s;-moz-transition:bottom .3s;-o-transition:bottom .3s;-ms-transition:bottom .3s;transition:bottom .3s;bottom:0;width:100%;left:0;opacity:0}
#content-wrapper #home-body #content-templates .select-template .template-img{padding:2px;width:100%;height:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#content-wrapper #home-body #content-templates .select-template .template-img img{width:100%;height:100%;border:1px solid rgba(0,0,0,0.85);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;opacity:.85;-webkit-transition:opacity .3s;-moz-transition:opacity .3s;-o-transition:opacity .3s;-ms-transition:opacity .3s;transition:opacity .3s}
#content-wrapper .cover{background:rgba(33,33,33,0.85);width:100%;height:100%;position:fixed;top:0;left:0;z-index:0}
footer #template-select #template1{background:url("../img/template_1.jpg") no-repeat}
footer #template-select #template2{background:url("../img/template_2.jpg") no-repeat}
footer #template-select #template3{background:url("../img/template_3.jpg") no-repeat}
footer #template-select #template4{background:url("../img/background2.jpg") no-repeat}
footer #template-select #template1,footer #template-select #template2,footer #template-select #template3,footer #template-select #template4{background-size:50px}
@media (max-width: 1024px){footer #template-select,footer #color-select{display:none !important}
}@media (max-width: 768px){footer #template-select,footer #color-select{display:none !important}
}@media (max-width: 568px){h1{line-height:20px;font-size:16px}
h6{line-height:20px}
#content-wrapper #main-header,#content-wrapper #main-footer{line-height:20px;max-height:20px}
#content-wrapper #home-content #home-body{padding:20px 0;}
#content-wrapper #home-content #home-body #main-title,#content-wrapper #home-content #home-body #main-subtitle{font-size:10px}
#content-wrapper #home-content #home-body #content-templates #t_2,#content-wrapper #home-content #home-body #content-templates #t_3{display:none}
#content-wrapper #home-content #home-body #content-templates .select-template{width:150px;height:150px;}
#content-wrapper #home-content #home-body #content-templates .select-template .title{font-size:12px}
}@media (max-width: 320px){#content-wrapper #home-content #home-body #main-title,#content-wrapper #home-content #home-body #main-subtitle{font-size:14px}
#content-wrapper #home-content #home-body #content-templates #t_2,#content-wrapper #home-content #home-body #content-templates #t_3{display:none}
}