@import url("color_t1.css")
@import url("csshake.css")

default_gray = #282828
default_gray_soft = #ccc
default_blue = #30a3d2
default_blue_lite = #78A8C3
default_wite = #f0f0f0

mybox-sizing()
    -webkit-box-sizing arguments
    -moz-box-sizing arguments
    box-sizing arguments

myborder-radius()
    -webkit-border-radius arguments
    -moz-border-radius arguments
    border-radius arguments

mytransform()
    -webkit-transform arguments
    -moz-transform arguments
    -o-transform arguments
    -ms-transform arguments
    transform arguments

mytransition()
    -webkit-transition arguments
    -moz-transition arguments
    -o-transition arguments
    -ms-transition arguments
    transition arguments

myuserselect()
    -webkit-touch-callout arguments
    -webkit-user-select arguments
    -khtml-user-select arguments
    -moz-user-select arguments
    -ms-user-select arguments
    user-select arguments

mybox-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments

myuserselect()
	-webkit-touch-callout arguments
	-webkit-user-select arguments
	-khtml-user-select arguments
	-moz-user-select arguments
	-ms-user-select arguments
	user-select arguments



#content-wrapper
	font-family 'Verdana'

	#template-one, #header, #content-wrapper, #footer
			min-width 1000px

			h1, h2, h3, h4, h5, h6, p
				background none
				-webkit-background-clip none
				-webkit-text-fill-color initial

	#template-one
		height 100%

		h1
			font-size 28px
			font-weight lighter

		nav
			position absolute
			display inline-block
			width 162px
			padding-top 80px
			padding-bottom 30px
			height 100%
			mybox-sizing(border-box)
			background-image url('../img/bg.png')
			z-index 2
			mybox-shadow(0px 1px 2px 0px rgba(3, 3, 3, 0.75))

			ul
				height 170px

				li
					width 40px
					height 120px
					display inline-block
					writing-mode tb-rl
					cursor pointer
					float left
					clear none
					mytransition(height, 0.1s)
					myuserselect(none)
					myborder-radius(0 0 20px 20px)
					z-index 1

					&:hover
						background-image url('../img/bg.png')
						height 140px

					p
						mytransform(rotate(90deg))
						margin 10px
						font-weight bold
						font-size 16px			

				#nav-home
					background-image url('../img/bg.png')
			
				#nav-work
					background-image url('../img/bg.png')
			
				#nav-portfolio
					background-image url('../img/bg.png')
			
				#nav-contact
					background-image url('../img/bg.png')

				.active
					height 140px
					cursor auto

			#nav-info
				myuserselect(none)
				padding 0 10px

				h4
					text-align center

				h6
					margin-left 10px
					font-weight lighter

				ol
					list-style-position inside
					list-style-type square

				#git, #linkedin
					width 32px
					height 32px
					display inline-block
					myborder-radius(5px)

				img
					width 140px
					height 140px
					myborder-radius(70px)
				
				.logo
					color #f0f0f0
					font-family monospace
					mytransform(scale(0.777, 2))

		#header
			position fixed
			top 0
			height 80px
			width 100%
			background-image url('../img/bg.png')
			text-align center
			line-height 80px
			padding 0 10px
			mybox-sizing(border-box)
			z-index 4

			h1,p
				display inline-block

		#content-section
			position absolute
			width 100%
			height 100%
			overflow hidden

			#content
				background-image url('../img/bg.png')
				position absolute
				top 0
				padding 80px 150px 40px 320px
				width 100%
				height 100%
				box-sizing border-box
				overflow-y auto	

				#home, #work, #portfolio, #contact
					background-image url('../img/bg.png')

					h2
						font-weight 100

					header
						mybox-sizing(border-box)
						background-image url('../img/bg.png')
						position relative

					header, article, footer
						padding 10px

					footer
						min-height 40px

					#skills
					  	margin auto
					  	max-width 650px
					  	border-spacing 0

					  	td
					  		border 1px solid default_gray
						  	padding 5px

						.head-1, .head-2, .number
						  	text-align center

						.head-1
							background default_blue

						.head-2
						  	font-size 16px
						  	background default_gray_soft

					.job-experience
						.job-company
							position relative
							border-radius 10px

							a, h3, .date
								display inline-block

							&:first-child
								margin-top -10px

						.job-spec
							padding 0 10px
						
						footer
							position relative	

						ul
							padding 0 15px 15px 15px

							.role
								list-style-type circle

							.achievements
								list-style-type square

						.job
							display block
							padding-left 5px
							border-radius 5px
					
					#portfolio-wrapper
						margin 0 auto
						width 822px

						.portfolio-element
							display inline-block
							width 250px
							mybox-shadow(0px 0px 2px 1px rgba(0, 0, 0, 0.3))
							myborder-radius(10px)
							cursor pointer
							margin 10px
							mybox-sizing(border-box)
							mytransition(opacity, 0.3s)
							opacity 0.6
							
							.portfolio-title
								myborder-radius(10px 10px 0 0)
								padding 10px
								mybox-sizing(border-box)
								mybox-sizing(border-box)
								
							.portfolio-body
								width 230px
								height 230px
								margin 10px
								border 1px solid rgba(0, 0, 0, 0.3)
								myborder-radius(10px)
								
							.portfolio-end
								background-image url('../img/bg.png')
								position relative
								font-size 12px
								margin 10px 0 0 0
								border-radius 0 0 10px 10px
								mybox-sizing(border-box)

							&:hover
								opacity 1
								mybox-shadow(0px 0px 2px 1px rgba(0, 0, 0, 0.8))
						

				.hidden
					display none

		#footer
			position fixed
			bottom 0
			height 30px
			width 100%
			background-image url('../img/bg.png')
			text-align center
			line-height 30px
			z-index 3
				
			h6
				font-weight lighter

			#interface
				position absolute
				right 5px
				bottom 0

				#color-select
					myborder-radius(5px 5px 0 0)
					mytransition(height, 0.3s)
					position fixed
					display inline-block
					padding 5px
					bottom -5px
					right 90px
					height 30px
					cursor pointer
					opacity 0.6
					z-index 999

					&:hover
						opacity 1
						height 60px

					h6
						font-weight bold
						color default_gray

					#black, #white
						border 1px solid #adadad
						cursor pointer
						myborder-radius(9px)
						width 20px
						margin 0 7px
						height 20px
						margin-bottom 5px

					#black
						background-color default_gray
						

					#white
						background-color default_wite

				#template-select
					mytransition(max-height, 0.3s)
					myborder-radius(5px 5px 0 0)
					position fixed
					display inline-block
					padding 5px
					bottom -5px
					right 10px
					cursor pointer
					line-height 30px
					max-height 30px
					text-shadow 0px 0px 0px
					opacity 0.6
					z-index 99

					&:hover
						opacity 1
						max-height 300px

						.templates
							height 50px
							padding 5px
							opacity 1

					.templates
						myborder-radius(5px)
						mytransition(opacity, 0.6s)
						width 100%
						opacity 0
						mybox-sizing(border-box)


					h6
						font-weight bold
						color default_gray
						bottom 0

					.shake
						display black


@media (max-width: 1280px)

	#content-wrapper
		
		#template-one

			#content-section

				#content
					padding 80px 20px 40px 190px

@media (max-width: 1024px)
	#content-wrapper
		
		#template-one

			#header
				height 60px
				line-height 60px

			nav 
				padding-top 60px
				width 122px
				
				ul
					height 130px

					li
						width 30px
						height 100px
						mytransition(height, 0.2s)
						myuserselect(none)
						myborder-radius(0 0 10px 10px)
						z-index 1

						&:hover
							height 110px	

						p
							mytransform(rotate(90deg))
							font-size 14px	
							margin 5px
					
					.active
						height 110px

				#nav-info
					img
						width 100px
						height 100px
						myborder-radius(50px)

			#content-section

				#content
					padding 60px 20px 20px 139px

					#skills
						max-width 546px

						.head-1
							font-size 20px

						.head-2
							font-size 14px

					#portfolio
					
						#portfolio-wrapper
							width 546px

			#footer
				height 20px
				line-height 20px

				#color-select
					line-height 30px

@media (max-width: 768px)
	#content-wrapper
		
		#template-one

			#header, #content-section, #footer
					min-width 768px

				nav 
					padding-top 80px

					ul
						height 200px

				#header
					height 80px
					line-height 40px

					h1,p
						display block

				#content-section

					#content
						padding 80px 20px 20px 139px

@media (max-width: 568px)
	#content-wrapper
		
		#template-one

			#header, #content-section, #footer
					min-width 568px

				nav 
					position fixed
					padding-top 40px
					width 102px

					ul
						height 100px

						li
							width 25px
							height 80px

							&:hover
								height 90px

							p
								font-size 12px

						.active
							height 90px

					#nav-info
						img
							width 75px
							height 75px
							myborder-radius(38px)

						h4
							font-size 14px

						h5, h6, #git, #linkedin
							display none

			#header
				height 40px !important
				line-height 20px

				h1,p
					display block
		
				h1
					font-size 18px

				p
					font-size 12px

			#content-section

				#content
					width 568px !important
					padding 40px 10px 20px 109px
					
					h3
						font-size 14px

					p, li, a, .technologies
						font-size 12px

					#skills
					  	max-width 270px

						.head-1
							font-size 18px

						td, .head-2
							font-size 12px

					#portfolio
					
						#portfolio-wrapper
							width 270px

							.portfolio-element
								width 250px
							
								.portfolio-body
									width 230px
									background-size 230px
			
			#footer
				display none	

@media (max-width: 480px)
	#content-wrapper
		
		#template-one

			#header, #content-section, #footer
					min-width 480px

				nav 
					position fixed
					padding-top 40px
					width 101px

					ul
						height 100px

						li
							width 25px
							height 80px

							&:hover
								height 90px

							p
								font-size 12px

						.active
							height 90px

					#nav-info
						img
							width 75px
							height 75px
							myborder-radius(38px)

						h4
							font-size 14px

						h5, h6, #git, #linkedin
							display none

			#header
				height 40px !important
				line-height 20px

				h1,p
					display block
		
				h1
					font-size 18px

				p
					font-size 12px

			#content-section

				#content
					width 480px !important
					padding 40px 10px 20px 109px
					
					h3
						font-size 14px

					p, li, a, .technologies
						font-size 12px

					#skills
						max-width 220px

						.head-1
							font-size 18px

						td, .head-2
							font-size 12px

					#portfolio
					
						#portfolio-wrapper
							width 220px

							.portfolio-element
								width 200px
							
								.portfolio-body
									width 180px
									background-size 180px
			
			#footer
				display none	

@media (max-width: 320px)
	#content-wrapper
		
		#template-one

			#header, #content-section, #footer
					min-width 320px

				nav 
					position fixed
					padding-top 40px
					width 82px

					ul
						height 100px

						li
							width 20px
							height 80px

							&:hover
								height 90px

							p
								font-size 12px

						.active
							height 90px

					#nav-info
						img
							width 60px
							height 60px
							myborder-radius(30px)

						h4
							font-size 12px

						h5, h6, #git, #linkedin
							display none

			#header
				height 40px !important
				line-height 20px

				h1,p
					display block
		
				h1
					font-size 16px

				p
					font-size 8px

			#content-section

				#content
					width 320px !important
					padding 40px 10px 20px 89px
					
					h3
						font-size 14px

					p, li, a, .technologies
						font-size 12px
						word-break break-all

					#skills
						max-width 200px

						.head-1
							font-size 18px

						td, .head-2
							font-size 12px

					#portfolio
					
						#portfolio-wrapper
							width 200px

							.portfolio-element
								width 180px
							
								.portfolio-body
									width 160px
									background-size 160px
			
			#footer
				display none			
