<section id="template-one" class="template-black">
	<header id="header">
		<h1><%= title %></h1>
		<code><%= subtitle %></code>
	</header>
	<nav>
		<ul>
			<li id="nav-home" class="active">
				<p><%= menu.home %></p>
			</li>
			<li id="nav-work">
				<p><%= menu.experience %></p>
			</li>
			<li id="nav-portfolio">
				<p><%= menu.portfolio %></p>
			</li>
			<li id="nav-contact">
				<p><%= menu.contacts %></p>
			</li>
		</ul>
		<div id="nav-info">
			<img class="image" src="img/marco.png"> 
			<h4>Marco Somma</h4><br>
			<h5><%= info.born %>:</h5>
				<h6>30/04/1979</h6><br>		
			<h5><%= info.nacionality %>:</h5>
				<h6>Italian</h6><br>		
			<h5><%= info.idioms %>:</h5>
			<ol>
				<li><h6>Italian</h6></li>
				<li><h6>Spanish</h6></li>
				<li><h6>English</h6></li>
			</ol>
		</div>
	</nav>
	<section id="content-section">
		<section id="content">
			<div id="home" class="active">
				<header>
					<h2><%= presentation %></h2>
				</header>
				<section>
					<article>
						<p><%= description %></p>
					</article>
					<br>
					<table id="skills">
						<thead>
							<tr class="head-1">
								<td colspan="3"><h2><%= table_header.title %></h2></td>
							</tr>
							<tr class="head-2">
								<td><%= table_header.tab_1 %></td>
								<td><%= table_header.tab_2 %></td>
								<td><%= table_header.tab_3 %></td>
							</tr>
						</thead>
						<tbody>
							<% _.each(knowledges, function(knowledge, i) { %>
								<tr>
									<td><%= knowledge.name %></td>
									<td class="number"><%= knowledge.y %></td>
									<td class="number"><%= knowledge.v %></td>
								</tr>
							<% }); %>
						</tbody>
					</table>
					<br>
				</section>
				<footer>
				</footer>
			</div>
			<div id="work">
				<header>
					<h2><%= sections.work %></h2>
				</header>
				<section>
					<% _.each(experiences, function(experience, i) { %>
						<article class="job-experience">
							<header class="job-company">
							    <h3><%= experience.company %></h3> <p class="date"> <%= experience.date %></p> <a href="<%= experience.web %>" target="_new"><%= experience.web %></a>
							</header>
							<section class="job-spec">
							<p><strong class="job"><%= experience.role %></strong></p>
							    <ul>
									<% _.each(experience.competences, function(competence, i) { %>
								    	<li class="role"><%= competence %></li>
								    <% }); %>
							    </ul>
								<% if (experience.archivments) { %>
								    <p><strong><%= experience.archivments_title %>:</strong></p>
								    <ul>
										<% _.each(experience.archivments, function(archivment, i) { %>
									    	<li class="achievements"><%= archivment %></li>
									    <% }); %>
								    </ul>
								<% } %>
								<% if (experience.costumers) { %>
								    <p><strong><%= experience.costumers_title %>:</strong></p>
								    <ul>
										<% _.each(experience.costumers, function(costumer, i) { %>
									    	<li class="achievements"><%= costumer %></li>
									    <% }); %>
								    </ul>
								<% } %>
							</section>
							<footer>
							    <p><strong><%= experience.technologies_title %>:</strong></p>
							    <p class="technologies"><%= experience.technologies %></p>
							</footer>
						</article>
					<% }); %>
				</section>
			</div>
			<div id="portfolio">
				<header>
					<h2><%= sections.portfolio %></h2>
				</header>
				<section>
					<article id="portfolio-wrapper">
					<% _.each(portfolios, function(portfolio, i) { %>
						<a href="<%= portfolio.link %>" target="_new">
							<section class="portfolio-element">
								<header class="portfolio-title">
									<p>
										<%= portfolio.title %>
									</p>
								</header>
								<section class="portfolio-body" style="background: url(<%= portfolio.img %>) no-repeat; background-size:232px">
									<!-- <img class="image" src="<%= portfolio.img %>"> -->
								</section>
								<footer class="portfolio-end">
									<p>
										<%= portfolio.description %>
									</p>
								</footer>
							</section>
						</a>
					<% }); %>
					</article>
				</section>
				<footer>
				</footer>
			</div>
			<div id="contact">
				<header>
					<h2><%= sections.contacts %></h2>
				</header>
				<section>
					<article>
						<p><%= contacts.text %></p>
					</article>
				</section>
				<footer>
				</footer>
			</div>
		</section>
	</section>
	<footer id="footer">
		<h6>© 2014 Marco Somma</h6>
		<div id="interface">
			<div id="template-select" class="interface">
				<h6><%= template %></h6>
				<ul class="hidden">
					<li id="template2" class="templates shake shake-little"></li>
					<li id="template3" class="templates shake shake-little"></li>
				</ul>
			</div>
			<div id="color-select" class="interface">
				<h6><%= color %></h6>
				<button id="black" class="shake shake-little">
				</button>
				<button id="white" class="shake shake-little">
				</button>
			</div>
		</div>
	</footer>
</section>