<section id="home-content">
	<header id="main-header">
		<h1><%= home.title %></h1>
	</header>
	<section id="home-body">
		<h2 id="main-title"><%= home.main_title %></h2>
		<h5 id="main-subtitle"><%= home.main_subtitle %></h5>
		<div id="content-templates">
			<div id="t_1" class="select-template"><div class="template-img"><a href="#template1"><img src="img/template_1.jpg"></a></div><span class="title">HTML5 Template #1</span></div>
			<div id="t_2" class="select-template"><div class="template-img"><a href="#template2"><img src="img/template_2.jpg"></a></div><span class="title">HTML5 Template #2</span></div>
			<div id="t_3" class="select-template"><div class="template-img"><a href="#template3"><img src="img/template_3.jpg"></a></div><span class="title">HTML5 Template #3</span></div>
		</div>
	</section>
	<footer id="main-footer">
		<h6>All © 2014 Marco Somma</h6>
	</footer>
	<div class="cover"></div>
</section>