<section id="template-three" class="template-black">
	<nav>
		<div id="name">
			<h3>Marco Somma</h3>
		</div>
		<ul>
			<li id="nav-home">
				<p><%= menu.home %></p>
			</li>
			<li id="nav-work">
				<p><%= menu.experience %></p>
			</li>
			<li id="nav-portfolio">
				<p><%= menu.portfolio %></p>
			</li>
			<li id="nav-contact">
				<p><%= menu.contacts %></p>
			</li>
		</ul>
	</nav>
	<section id="content-section">
		<header id="header">
			<img class="image" src="img/marco.png"> 
			<div id="title">
				<h1><%= title %></h1>
				<code><%= subtitle %></code>
			</div>
		</header>
		<section id="content">
			<div class="pag1">
				<div class="pag2">
					<div class="pag3">
						<div id="home">
							<section>
								<header>
									<h2><%= presentation %></h2>
								</header>
								<article>
									<p><%= description %></p>
								</article>
								<br>
								<table id="skills">
									<thead>
										<tr class="head-1">
											<td colspan="3"><h2><%= table_header.title %></h2></td>
										</tr>
										<tr class="head-2">
											<td><%= table_header.tab_1 %></td>
											<td><%= table_header.tab_2 %></td>
											<td><%= table_header.tab_3 %></td>
										</tr>
									</thead>
									<tbody>
										<% _.each(knowledges, function(knowledge, i) { %>
											<tr>
												<td><%= knowledge.name %></td>
												<td class="number"><%= knowledge.y %></td>
												<td class="number"><%= knowledge.v %></td>
											</tr>
										<% }); %>
									</tbody>
								</table>
							</section>
						</div>
					</div>
				</div>
			</div>
			<div class="pag1">
				<div class="pag2">
					<div class="pag3">
						<div id="work">
							<header>
								<h2><%= sections.work %></h2>
							</header>
							<section>
								<% _.each(experiences, function(experience, i) { %>
									<article class="job-experience">
										<header class="job-company">
										    <h3><%= experience.company %></h3> <p class="date"> <%= experience.date %></p> <a href="<%= experience.web %>" target="_new"><%= experience.web %></a>
										</header>
										<section class="job-spec">
										<p class="job"><%= experience.role %></p>
										    <ul>
												<% _.each(experience.competences, function(competence, i) { %>
											    	<li class="role"><%= competence %></li>
											    <% }); %>
										    </ul>
											<% if (experience.archivments) { %>
											    <p><%= experience.archivments_title %>:</p>
											    <ul>
													<% _.each(experience.archivments, function(archivment, i) { %>
												    	<li class="achievements"><%= archivment %></li>
												    <% }); %>
											    </ul>
											<% } %>
											<% if (experience.costumers) { %>
											    <p><%= experience.costumers_title %>:</p>
											    <ul>
													<% _.each(experience.costumers, function(costumer, i) { %>
												    	<li class="achievements"><%= costumer %></li>
												    <% }); %>
											    </ul>
											<% } %>
										</section>
										<footer>
										    <p><%= experience.technologies_title %>:</p>
										    <p class="technologies"><%= experience.technologies %></p>
										</footer>
									</article>
								<% }); %>
							</section>
						</div>
					</div>
				</div>
			</div>
			<div class="pag1">
				<div class="pag2">
					<div class="pag3">
						<div id="portfolio">
							<header>
								<h2><%= sections.portfolio %></h2>
							</header>
							<section>
								<article id="portfolio-wrapper">
								<% _.each(portfolios, function(portfolio, i) { %>
									<a href="<%= portfolio.link %>" target="_new">
										<section class="portfolio-element">
											<header class="portfolio-title">
												<p>
													<%= portfolio.title %>
												</p>
											</header>
											<section class="portfolio-body" style="background: url(<%= portfolio.img %>) no-repeat; background-size:232px">
											</section>
											<footer class="portfolio-end">
												<p>
													<%= portfolio.description %>
												</p>
											</footer>
										</section>
									</a>
								<% }); %>
								</article>
							</section>
						</div>
					</div>
				</div>
			</div>
			<div class="pag1">
				<div class="pag2">
					<div class="pag3">
						<div id="contact">
							<header>
								<h2><%= sections.contacts %></h2>
							</header>
							<section>
								<article>
									<p><%= contacts.text %></p>
								</article>
							</section>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
	<footer id="footer">
		<h6>© 2014 Marco Somma</h6>
		<div id="interface">
			<div id="template-select" class="interface">
				<h6><%= template %></h6>
				<ul class="hidden">
					<li id="template1" class="templates shake shake-little"></li>
					<li id="template2" class="templates shake shake-little"></li>
				</ul>
			</div>
		</div>
	</footer>
</section>